<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="~{layout/header :: header('받은 메시지함')}"></th:block>
    <!-- 특정 페이지 css -->
    <link rel="stylesheet" href="/css/chat/message.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <div>
                <div class="container message">
                    <div class="main">
                        <div>
                            <!-- 메시지 박스 -->
                            <div class="box">

                                <!-- 좌측: 채팅방 분류, 목록 -->
                                <div class="left">

                                    <!-- 채팅방 탐색  -->
                                    <div class="request">
                                        <a role="button" class="send-message" data-bs-toggle="modal"
                                           data-bs-target="#createChatRoomModal">
                                            <img class="icon" src="/img/icon/write.png" alt="메시지 작성 아이콘">
                                        </a>
                                    </div>
                                    
                                    <div>
                                        <div>
                                            <!-- 채팅방 리스트 div -->
                                            <div class="msg-room-list" id="chatRoomList">
                                                <!-- 채팅방 목록이 동적으로 추가될 영역 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 우측: 메시지 안내 문구 -->
                                <div class="mid-intro">
                                    <div class="intro">
                                        <div>
                                            <div class="circle"></div>
                                            <img src="/img/icon/message.png" alt="메시지 아이콘">
                                        </div>
                                        <div>내 메시지</div>
                                        <div>친구나 그룹에 비공개 사진과 메시지를 보내보세요.</div>
                                        <a role="button" class="send-message" data-bs-toggle="modal"
                                           data-bs-target="#createChatRoomModal">
                                            <div id="msg">메시지 보내기</div>
                                        </a>
                                    </div>
                                </div>

                                <!-- 우측: 상대방 정보, 메시지 내용 -->
                                <div class="mid-chat" style="display: none;">
                                    <!-- 상대방 정보 -->
                                    <div class="chat-name">
                                        <!-- 상대방 프로필 이미지 -->
                                        <div class="profile-image">
                                            <div><img src="/img/anonymous.png"></div>
                                        </div>
                                        <!-- 상대방 이름 -->
                                        <div id="chatName">절대고집</div>
                                        <div>검색</div>
                                        <div>
                                            <a role="button" id="toggleSidebar"><img src="/img/icon/menu.png"></a>
                                        </div>
                                    </div>
                                    <!-- 메시지 내용 -->
                                    <div class="chat-window">
                                        <div id="chatMessages">
                                            <!-- 메시지 표시되는 곳 -->
                                        </div>
                                        <!-- 메시지 입력 -->
                                        <div class="input">
                                            <div>
                                                <!-- 메시지 입력 textarea -->
                                                <form method="post">
                                                    <textarea name="chat" id="chatInput" rows="1" placeholder="메시지 입력..."></textarea>
                                                </form>
                                                <!-- 보내기 아이콘 -->
                                                <div><img class="icon" src="/img/icon/message.png" alt="보내기 아이콘" id="sendButton"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-intro" id="rightSidebar">
                                    <div class="intro">
                                        <div class="chat-side-bar">대화하는 유저 목록</div>
                                        <div class="side-bar-img-wrap">
                                            <div class="profile-image">
                                                <a role="button" class="send-message" data-bs-toggle="modal"
                                                   data-bs-target="#invite-modal">
                                                    <div><img src="/img/question.png"></div>
                                                    <span>새로운 사용자 초대</span>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="chat-room-wrap">
                                        <div class="intro">
                                            <div>
                                                <div class="notify-on" style="display: none">
                                                    <i class="fa-solid fa-bell"></i>
                                                    알림켜기
                                                </div>
                                                <div class="notify-off">
                                                    <i class="fa-solid fa-bell-slash"></i>
                                                    알림끄기
                                                </div>
                                                <div class="leave-chat-room" id="leave-room">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    나가기
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="createChatRoomModal" tabindex="-1" aria-labelledby="createChatRoomModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="newMessageModalLabel">새로운 채팅방</h4>
                                    <button type="button" class="btn" data-bs-dismiss="modal"
                                            aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <form id="createChatRoomForm">
                                        <div class="mb-3">
                                            <label for="chatRoomTitle" class="form-label">채팅방 제목</label>
                                            <input type="text" class="form-control" id="chatRoomTitle" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="create-inviteUser" class="form-label">초대할 사용자</label>
                                            <input type="text" class="form-control" id="create-inviteUser" placeholder="사용자 이름 또는 ID 검색">
                                            <div id="selectedUserList" class="selected-user-list"></div>
                                        </div>
                                        <div id="userList" class="mb-3"></div> <!-- 사용자 목록 표시 영역 -->
                                        <div class="btn-chat-create">
                                            <button type="submit" class="btn btn-primary">생성</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="invite-modal" tabindex="-1" aria-labelledby="invite-modal"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="invite-modal-label">사용자 초대</h4>
                                    <button type="button" class="btn" data-bs-dismiss="modal"
                                            aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <form id="invite-form">
                                        <div class="mb-3">
                                            <label for="recipient" class="form-label">받는 사람</label>
                                            <input type="text" class="form-control" id="recipient" placeholder="사용자 이름 또는 ID 검색">
                                            <div id="selectedUserLists" class="selected-user-list"></div>
                                        </div>
                                        <div class="search-results">
                                        </div>
                                        <button type="submit">초대</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
</div>
<script src="/js/chat/createChatRoom.js"></script>
<script defer src="/js/chat/message.js"></script>
<script src="/js/chat/invite.js"></script>
</body>
</html>
