<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
<link rel="stylesheet" href="/css/approval/approval-detail.css" type="text/css"> <!-- 문서 열람 페이지 -->
<link rel="stylesheet" href="/css/document/time-off-app.css" type="text/css"> <!-- 휴가/휴직 신청서 양식 -->
<link rel="stylesheet" href="/css/document/stock-order-app.css" type="text/css"> <!-- 발주 신청서 양식 -->
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<main>
				<div class="approval-detail">
					<h1>문서 열람</h1>

					<!-- 상단 영역 -->
					<div class="top-area">
						<button th:if="${apprBtn == null}"
								type="button" class="btn" id="approval">결재하기</button>
					</div>

					<!-- 문서 상세 (휴가/휴직) -->
					<th:block th:if="${apprType == 'time-off'}">
						<th:block th:if="${approvalDto.timeOffCtNo == 0}">
							<div th:replace="~{document/vacation-app :: vacation-app}"></div>
						</th:block>

						<th:block th:if="${approvalDto.timeOffCtNo == 1}">
							<div th:replace="~{document/leave-of-absence-app :: leave-of-absence-app}"></div>
						</th:block>
					</th:block>

					<!-- 문서 상세 (발주) -->
					<th:block th:if="${apprType == 'stock-order'}">
						<div th:replace="~{document/stock-order-app :: stock-order-app}"></div>
					</th:block>
				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
	</div>

	<script src="/js/approval/approvalDetail.js"></script>

	<!-- Signature Pad -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
</body>
</html>