<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
<link rel="stylesheet" href="/css/approval/approval-detail.css" type="text/css"> <!-- 문서 열람 페이지 -->
<link rel="stylesheet" href="/css/document/time-off-app.css" type="text/css"> <!-- 휴가/휴직 신청서 양식 -->
<link rel="stylesheet" href="/css/document/stock-order-app.css" type="text/css"> <!-- 발주 신청서 양식 -->
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<main>
				<div class="approval-detail">
					<h1>문서 열람</h1>

					<!-- 상단 영역 -->
					<div class="top-area">
						<button type="button" class="btn" id="temp-content">결재하기</button>
					</div>

                    <!-- 문서 상세 -->
                    <div th:replace="~{document/vacation-app :: vacation-app}"></div>
				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
	</div>
</body>
</html>