<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<link rel="stylesheet" href="/css/approval/approval-list.css" type="text/css">
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<header th:replace="~{layout/navbar :: navbar}"></header>
			<main>
				<div class="approval-list">
					<h1>결재 문서</h1>

					<!-- 상단 영역 -->
					<div class="top-area">

                        <!-- 기안자 검색 -->
                        <input type="text" name="" id="" class="form-control" placeholder="기안자를 입력하세요.">
                        
                        <!-- 휴가/휴직 구분 -->
                        <select class="form-select form-select-lg mb-3 m-left" aria-label="Large select example" name="stockCt" id="">
                            <option value="">구분</option>
                            <option value="">휴가신청서</option>
                            <option value="">휴직신청서</option>
                        </select>

                        <!-- 결재 상태 -->
                        <select class="form-select form-select-lg mb-3 m-left" aria-label="Large select example" name="stockCt" id="">
                            <option value="">결재 상태</option>
                            <option value="">대기</option>
                            <option value="">진행중</option>
                            <option value="">승인</option>
                            <option value="">반려</option>
                        </select>
					</div>

					<!-- 테이블 -->
					<table class="table">
                        <thead>
                            <tr>
                                <th scope="col">구분</th>
                                <th scope="col">기안자</th>
                                <th scope="col">기안일</th>
                                <th scope="col">결재 상태</th>
                            </tr>
                        </thead>

                        <!-- 리스트 -->
                        <tbody>
                            <tr>
                                <td>휴직신청서</td>
                                <td>박종구</td>
                                <td>2024-05-13</td>
                                <td>대기</td>
                            </tr>
                        </tbody>

                        <!-- 리스트 -->
                        <tbody>
                            <tr>
                                <td>휴가신청서</td>
                                <td>배영욱</td>
                                <td>2024-05-17</td>
                                <td>진행중</td>
                            </tr>
                        </tbody>

                        <!-- 리스트 -->
                        <tbody>
                            <tr>
                                <td>휴직신청서</td>
                                <td>오정은</td>
                                <td>2024-05-13</td>
                                <td>승인</td>
                            </tr>
                        </tbody>

                        <!-- 리스트 -->
                        <tbody>
                            <tr>
                                <td>휴가신청서</td>
                                <td>우혜진</td>
                                <td>2024-05-18</td>
                                <td>반려</td>
                            </tr>
                        </tbody>

                        <!-- 리스트 -->
                        <tbody>
                            <tr>
                                <td>휴가신청서</td>
                                <td>최동환</td>
                                <td>2024-05-17</td>
                                <td>진행중</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
	</div>
</body>
</html>