<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<link rel="stylesheet" href="/css/approval/time-off-approval.css" type="text/css"> <!-- 휴가/휴직 신청 페이지 -->
<link rel="stylesheet" href="/css/document/time-off-req.css" type="text/css"> <!-- 휴가/휴직 신청 양식 -->
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<header th:replace="~{layout/navbar :: navbar}"></header>
			<main>
				<div class="time-off-appr">
					<h1>휴가/휴직 신청</h1>

					<!-- 상단 영역 -->
					<div class="top-area">

                        <!-- 문서 선택 -->
                        <select class="form-select form-select-lg mb-3 m-left" aria-label="Large select example" name="timeOffCt" id="time-off-ct">
                            <option value="">문서 선택</option>
                            <option value="0">휴가신청서</option>
                            <option value="1">휴직신청서</option>
                        </select>

                        <!-- 임시저장 내용 불러오기 -->
						<button type="button" class="btn" id="temp-content">임시저장 내용 불러오기</button>
					</div>

                    <!-- 문서 작성 form -->
                    <form method="post">
                        <div id="time-off-doc" th:replace="~{document/vacation-req :: vacation-req}"></div>

                        <!-- 하단 버튼 -->
                        <div class="bottom-btn">
                            
                            <!-- 임시저장 -->
                            <div><button class="btn" id="temp">임시저장</button></div>

                            <div>
                                <button class="btn" id="cancel">취소</button>
                                <button class="btn" id="approval">다음</button>
                            </div>
                        </div>
                    </form>
				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
	</div>
    <script src="/js/approval/timeOffAppr.js"></script>
</body>
</html>