<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link rel="stylesheet" href="/css/sales/sales.css" type="text/css">
</head>
<body>
<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <div class="sales-list">
                <h1 th:text="${emp.frnName}"></h1>
                <!-- 매출 전체 합계 -->
                <h3 style="color:#FD8340; display: inline-block;" id="allPrice"></h3>
                <!-- 상단 영역 -->
                <div class="top-area">

                    <!-- 카테고리 선택 -->
                    <select class="form-select form-select-lg mb-3 m-left" id="sales-ct"
                            aria-label="Large select example" name="salesCt">
                        <option value="0" th:selected="${param.salesCt == '0'}">전체 매출</option>
                        <option value="1" th:selected="${param.salesCt == '1'}">일별 매출</option>
                        <option value="2" th:selected="${param.salesCt == '2'}">달별 매출</option>
                        <option value="3" th:selected="${param.salesCt == '3'}">년별 매출</option>
                    </select>

                    <!-- 매출 등록 버튼 -->
                    <button type="button" class="btn m-left" id="salesAdd">매출 등록</button>
                </div>

                <div class="sales-list-container">
                    <!-- 테이블 -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="col-sort">
                                <span>가맹점 명</span>
                                <i class="fa-solid fa-sort" id="sales-name-sort"></i>
                            </th>
                            <th scope="col">매출 등록자</th>
                            <th scope="col">매출일</th>
                            <th scope="col" class="col-sort">
                                <span>매출액</span>
                                <i class="fa-solid fa-sort" id="is-count-sort"></i>
                            </th>
                        </tr>
                        </thead>
                        <!-- 가맹점 매출 목록 -->
                        <tbody id="salesList">
                        <!-- Example row with data-salNo -->
                        <tr data-salNo="${sales.salNo}">
                            <!-- table columns -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal structure -->
            <div class="modal" id="salesDetailModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">매출 상세 정보</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="salesDetailModalBody">
                            <!-- Placeholder content or leave empty -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- 등록 Modal 호출 -->
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">매출 등록</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form action="@{/crispy/salesInsert}" method="POST" id="salesForm">
                                <div class="row g-3">
                                    <!-- 해당 가맹점 번호 -->
                                    <input type="hidden" id="frnNo" name="frnNo" th:value="${frnNo}"/>
                                    <div class="col-sm-6">
                                        <label for="frnOwner" class="form-label">매출 등록자</label>
                                        <input type="text" class="form-control" id="frnOwner" placeholder=""
                                               th:value="${emp.empName}" disabled>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="frnName" class="form-label">가맹점 명</label>
                                        <input type="text" class="form-control" id="frnName" placeholder=""
                                               th:value="${emp.frnName}" disabled>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="salDt" class="form-label">매출일</label>
                                        <input type="date" class="form-control" id="salDt" placeholder="" value=""
                                               required="">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="salPrice" class="form-label">매출액</label>
                                        <input type="text" class="form-control" id="salPrice" placeholder=""
                                               value="" required="">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="modal-close" data-bs-dismiss="modal">
                                취소
                            </button>
                            <button type="button" class="btn btn-primary" id="modal-add">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
</div>
<script>
    $(document).ready(function () {
        // 페이지 로드시 초기 데이터 로드
        loadSalesData();

        // 매출 등록 버튼 클릭 시 Modal 호출
        $('#salesAdd').on('click', function () {
            $('.modal').modal('show');
        });

        $(document).ready(function () {
            $('tbody').on('click', 'tr', function () {
                $('#salesDetailModal').modal('show');
            });
        });

        // Modal 저장 버튼 클릭 시 매출 등록
        $('#modal-add').on('click', function () {
            const salesDto = {
                salDt: $('#salDt').val(),
                salPrice: $('#salPrice').val(),
                frnNo: $('#frnNo').val(),
                frnName: $('#frnName').val()
            };
            $.ajax({
                type: 'POST',
                url: '/crispy/salesInsert',
                contentType: 'application/json',
                data: JSON.stringify(salesDto),
                success: function (response) {

                    const addMsg = /*[[${addMsg}]]*/ "매출이 등록되었습니다";
                    console.log(addMsg)
                    if (addMsg != null) {
                        Swal.fire({
                            icon: "success",
                            title: addMsg,
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }

                    $('.modal').modal('hide');
                    loadSalesData(); // 데이터 재로드
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert("매출 등록에 실패하였습니다.");
                }
            });
        });

        // 카테고리 선택 시 데이터 로드
        $('#sales-ct').on('change', function () {
            loadSalesData();
        });
    });

    // 매출 데이터 로드 함수
    function loadSalesData() {
        const salesCt = $('#sales-ct').val();
        let targetUrl = "";

        switch (Number(salesCt)) {
            case 0:
                targetUrl = "/crispy/salesList";
                break;
            case 1:
                targetUrl = "/crispy/dailySalesList";
                break;
            case 2:
                targetUrl = "/crispy/monthlySalesList";
                break;
            case 3:
                targetUrl = "/crispy/yearlySalesList";
                break;
            default:
                targetUrl = "/crispy/salesList";
                break;
        }

        $.ajax({
            type: 'GET',
            url: targetUrl,
            success: function (data) {
                allPrice(data);
                displayTotalSales(data); // 전체 매출 총액 표시 함수 호출
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1 해준 후 2자리로 맞추고 0으로 채움
        const day = String(date.getDate()).padStart(2, '0'); // 일도 2자리로 맞추고 0으로 채움
        return `${year}년 ${month}월 ${day}일`;
    }

    function allPrice(data) {
        const salesList = $('#salesList');
        const frnName = $('#frnName').val();
        const frnOwner = $('#frnOwner').val();
        salesList.empty();

        $.each(data, function (index, sales) {
            if (sales.salDt !== null) {
                salesList.append(`
                <tr>
                    <td>${frnName}</td>
                    <td>${frnOwner}</td>
                    <td>${formatDate(new Date(sales.salDt))}</td>
                    <td>${sales.salPrice.toLocaleString('ko-KR') + "원"}</td>
                </tr>`);
            } else if (sales.salDd !== null) {
                salesList.append(`
                <tr>
                    <td>${frnName}</td>
                    <td>${frnOwner}</td>
                    <td>${sales.salDd + "일"}</td>
                    <td>${sales.salPrice.toLocaleString('ko-KR') + "원"}</td>
                </tr>`);
            } else if (sales.salMn !== null) {
                salesList.append(`
                <tr>
                    <td>${frnName}</td>
                    <td>${frnOwner}</td>
                    <td>${sales.salMn + "월"}</td>
                    <td>${sales.salPrice.toLocaleString('ko-KR') + "원"}</td>
                </tr>`);
            } else if (sales.salYr !== null) {
                let salYrDisplay = sales.salYr.toString();
                if (salYrDisplay.length >= 4) {
                    salYrDisplay = '20' + salYrDisplay.substring(salYrDisplay.length - 2); // 앞의 '00'을 잘라내고 '20'을 추가
                }
                salesList.append(`
                <tr>
                    <td>${frnName}</td>
                    <td>${frnOwner}</td>
                    <td>${salYrDisplay + "년"}</td>
                    <td>${sales.salPrice.toLocaleString('ko-KR') + "원"}</td>
                </tr>`);
            }
        });
    }

    // 전체 매출 표출
    function displayTotalSales(data) {
        let totalSales = 0;
        $.each(data, function (index, sales) {
            totalSales += sales.salPrice;
        });

        $('#allPrice').html(`<h3>총 매출: ${totalSales.toLocaleString('ko-KR')}원</h3>`);
    }
</script>
</body>
</html>