<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link rel="stylesheet" href="/css/sales/sales.css" type="text/css">
</head>
<body>
<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <div class="sales-list">
                <h1 th:text="${emp.frnName}"></h1>

                <!-- 상단 영역 -->
                <div class="top-area">

                    <!-- 재고명 검색 -->
                    <form action="/crispy/sales?search=${param.search}" method="GET" name="searchform" onsubmit="return searchformaction(this,1)">
                        <div class="container-1">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="hidden" name="page" value="1"/>
                            <input type="text" name="search" id="search" class="form-control" placeholder="검색어를 입력하세요." th:value="${param.search}">
                        </div>
                    </form>

                    <select class="form-select form-select-lg mb-3 m-left" onchange="salesDate(this)" id="sales-ct" aria-label="Large select example" name="salesCt">
                        <option value="0" th:selected="${param.salesCt == '0'}">전체 매출</option>
                        <option value="1" th:selected="${param.salesCt == '1'}">일별 매출</option>
                        <option value="2" th:selected="${param.salesCt == '2'}">달별 매출</option>
                        <option value="3" th:selected="${param.salesCt == '3'}">년별 매출</option>
                    </select>

                    <!-- 매출 등록 버튼 -->
                    <button type="button" class="btn m-left" id="salesAdd">매출 등록</button>
                </div>

                <div class="sales-list-container" th:fragment="sales-list-container">
                    <!-- 테이블 -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="col-sort">
                                <span>가맹점 명</span>
                                <i class="fa-solid fa-sort" id="sales-name-sort"></i>
                            </th>
                            <th scope="col">매출 등록자</th>
                            <th scope="col">매출일</th>
                            <th scope="col" class="col-sort">
                                <span>매출액</span>
                                <i class="fa-solid fa-sort" id="is-count-sort"></i>
                            </th>

                        </tr>
                        </thead>

                        <tbody id="salesList">
                        <!-- 리스트 -->
                        <tr class="sales-row" th:each="sales : ${yearlySalesList}">

                            <!-- 가맹점 명 -->
                            <td th:text="${emp.frnName}"></td>

                            <!-- 대표자 명 -->
                            <td th:text="${emp.empName}"></td>

                            <!-- 매출 등록일 -->
                            <td th:text="${'20' + #strings.substring(sales.salYr, 2, 4) + '년'}"></td>

                            <!-- 가맹점 매출액 -->
                            <td th:text="${#numbers.formatDecimal(sales.salPrice, 1, 0)}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!--                        <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-lg">
                                                    <li class="page-item"><a class="page-link"
                                                                             th:classappend="${currentPage == 1} ? 'disabled'"
                                                                             th:href="|javascript:searchformaction(document.searchform, ${prevPage})|"
                                                                             aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                    </li>
                                                    <th:block th:each="p : ${#numbers.sequence(startPage, endPage)}">
                                                        <li class="page-item">
                                                            <a class="page-link" th:classappend="${currentPage == p} ? 'active'"
                                                               th:href="|javascript:searchformaction(document.searchform, ${p})|"
                                                               th:text="${p}"></a>
                                                        </li>
                                                    </th:block>
                                                    <li class="page-item">
                                                        <a class="page-link" th:classappend="${currentPage == maxPage} ? 'disabled'"
                                                           th:href="|javascript:searchformaction(document.searchform, ${nextPage})|"
                                                           aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>-->
                </div>
            </div>
            <!-- Modal 호출 -->
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">매출 등록</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form action="@{/crispy/salesInsert}" method="POST" id="salesForm">
                                <div class="row g-3">
                                    <!-- 해당 가맹점 번호 -->
                                    <input type="hidden" id="frnNo" name="frnNo" th:value="${frnNo}"/>
                                    <div class="col-sm-6">
                                        <label for="frnOwner" class="form-label">매출 등록자</label>
                                        <input type="text" class="form-control" id="frnOwner" placeholder=""
                                               th:value="${emp.empName}" disabled>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="frnName" class="form-label">가맹점 명</label>
                                        <input type="text" class="form-control" id="frnName" placeholder=""
                                               th:value="${emp.frnName}" disabled>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="salDt" class="form-label">매출일</label>
                                        <input type="date" class="form-control" id="salDt" placeholder="" value=""
                                               required="">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="salPrice" class="form-label">매출액</label>
                                        <input type="text" class="form-control" id="salPrice" placeholder=""
                                               value="" required="">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="modal-close" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="modal-add">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
</div>
<script>
    $(document).ready(function () {

        /* 매출 등록 버튼 클릭 시 Modal 호출 */
        $('#salesAdd').on('click', function () {
            $('.modal').modal('show');
        });

        $('#modal-add').on('click', function () {

            alert("매출이 등록 되었습니다.")
            $('.modal').modal('hide');
            location.reload();

            var formData = {
                salDt: $('#salDt').val(),
                salPrice: $('#salPrice').val(),
                frnNo: $('#frnNo').val()
            };

            const salPrice = Math.ceil(formData.salPrice);
            console.log(salPrice);

            $.ajax({
                type: 'POST',
                url: '/crispy/salesInsert',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    console.log(response);
                    // 입력 성공 시 모달 닫기 등 추가 작업 수행
                    $('.modal').modal('hide');
                    location.reload(); // 페이지 새로고침 예시

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

    /* 선택 카테고리 고정*/
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const salesCt = urlParams.get('salesCt');

        if (salesCt !== null) {
            document.getElementById('sales-ct').value = salesCt;
        }
    });

    function salesDate(sel) {
        let targetUrl = "";
        switch (Number(sel.value)) {
            case 0:
                targetUrl = "/crispy/sales";
                break;
            case 1:
                targetUrl = "/crispy/daily";
                break;
            case 2:
                targetUrl = "/crispy/monthly";  // 달별 매출 페이지 경로
                break;
            case 3:
                targetUrl = "/crispy/yearly";   // 년별 매출 페이지 경로
                break;
            default:
                targetUrl = "/crispy/sales";    // 기본값 설정
                break;
        }

        // 현재 선택된 옵션 값을 쿼리 파라미터로 함께 전달
        location.href = targetUrl + "?salesCt=" + sel.value;
    }

</script>
</body>
</html>