/* 테이블 */
.time-off table {
    width: 870px;
    text-align: center;
}

/* 제목 셀, 데이터 셀 */
.time-off th, .time-off td {
    display: table-cell;
    border: 1px solid black;
}

/* 전체 열 */
.time-off .col {
    background-color: rgba(200, 200, 200, 0.2);
}

/* 문서 제목 */
.time-off #doc-title {
    border-top: none;
    border-left: none;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

/* 결재 */
.time-off #appr {
    width: 65px;
    height: 170px;
    padding-bottom: 15px;
    writing-mode: vertical-lr;
}

/* 결재 열 */
.time-off .appr-col {
    width: 120px;
    height: 50px;
}

/* 입력 열 */
.time-off .inp-col {
    width: 145px;
    height: 50px;
}

/* 휴가 기간 */
.time-off input[type="date"] {
    margin: 5px;
    padding: 5px;
    border: 0.5px solid var(--sub-color);
    border-radius: 5px;
    text-align: center;
}

/* 휴가 사유 */
.time-off #vct-cont {
    width: 724px;
    height: 50px;
    padding-left: 10px;
    border: none;
}

/* 문서 내용 */
.time-off #doc-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 65px 0;
}

.time-off #doc-cont > div:nth-child(1) {
    margin-bottom: 85px;
}

.time-off #doc-cont > div:nth-child(2) {
    margin-bottom: 20px;
}

/* 기안자 서명 */
.time-off .appr-emp {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* 기안자 이름 */
.time-off #emp-name {
    width: 100px;
    letter-spacing: 0.7rem;
}

/* 기안자 서명 */
.time-off #emp-sign {
    position: relative;
    margin: 0 30px;
}

/* 서명 이미지 */
.time-off .appr-emp img {
    position: absolute;
    right: -30px;
    bottom: 0px;
    width: 87px;
    height: 87px;
}

/* 파일 선택 */
.time-off .file-attach {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.time-off form .mb-3 {width: 450px;}

.time-off .file-attach input {width: 300px;}

/* 파일 리스트 */
.time-off .file-list {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 0 20px 15px;
    font-size: 1.5rem;
}

/* 파일 항목 */
.time-off .file-item {
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.time-off .file-item > a {
    text-decoration: underline;
    color: var(--bs-link-color);
}

.time-off .file-item > i {
    margin: 0px 20px 0 10px;
    color: #888888;
    cursor: pointer;
}