/* 휴가, 휴직 신청서 */
.time-off > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

/* 테이블 */
.time-off table {
    width: 870px;
    text-align: center;
}

/* 제목 셀, 데이터 셀 */
.time-off th, .time-off td {
    display: table-cell;
    border: 1px solid black;
}

/* 전체 열 */
.time-off .col {
    background-color: rgba(200, 200, 200, 0.2);
}

/* 문서 제목 */
.time-off #doc-title {
    border-top: none;
    border-left: none;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

/* 결재 */
.time-off #appr {
    width: 65px;
    height: 170px;
    padding-bottom: 15px;
    writing-mode: vertical-lr;
}

/* 결재 열 */
.time-off .appr-col {
    width: 120px;
    height: 50px;
}

/* 결재 이미지 */
.time-off .sign-img {
    width: 100px;
    height: 100px;
}

/* 입력 열 */
.time-off .inp-col {
    width: 145px;
    height: 50px;
}

/* 문서 내용 */
.time-off #doc-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 65px 0;
}

.time-off #doc-cont > div:nth-child(1) {
    margin-bottom: 85px;
}

.time-off #doc-cont > div:nth-child(2) {
    margin-bottom: 20px;
}

/* 기안자 서명 */
.time-off .appr-emp {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* 기안자 이름 */
.time-off #emp-name {
    width: 100px;
    letter-spacing: 0.7rem;
}

/* 기안자 서명 */
.time-off #emp-sign {
    position: relative;
    margin: 0 30px;
}

/* 서명 이미지 */
.time-off .appr-emp img {
    position: absolute;
    right: -30px;
    bottom: 0px;
    width: 87px;
    height: 87px;
}

/* 첨부파일 박스 */
.time-off .attach-file {
    display: flex;
    width: 870px;
    margin-top: 18px;
}

.time-off .attach-file > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-right: 5px;
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.2);
}

/* 첨부파일 목록 */
.time-off .attach-file > div:last-child {
    padding: 5px;
}

/* 첨부파일 */
.time-off .attach-file a {
    color: var(--bs-link-color);
    text-decoration: underline;
}