<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link rel="stylesheet" href="/css/franchise/franchise-list.css" type="text/css">
</head>
<body>
<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <header th:replace="~{layout/navbar :: navbar}"></header>
        <main>
            <div class="franchise-list">
                <h1>결재 문서</h1>

                <!-- 상단 영역 -->
                <div class="top-area">
                    <button type="button" class="btn frnBtn" style="font-size: 1.7rem; margin-right: 95.5rem; border-radius: 30px">가맹점 등록</button>
                    <!-- 기안자 검색 -->
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="text" name="" id="search" class="form-control" placeholder="가맹점을 입력해주세요.">
                    </div>

                    <!-- 휴가/휴직 구분 -->
<!--                    <select class="form-select form-select-lg mb-3 m-left" aria-label="Large select example"
                            name="stockCt">
                        <option value="">구분</option>
                        <option value="">휴가신청서</option>
                        <option value="">휴직신청서</option>
                    </select>-->

                    <!-- 결재 상태 -->
<!--                    <select class="form-select form-select-lg mb-3 m-left" aria-label="Large select example"
                            name="stockCt" id="">
                        <option value="">결재 상태</option>
                        <option value="">대기</option>
                        <option value="">진행중</option>
                        <option value="">승인</option>
                        <option value="">반려</option>
                    </select>-->
                </div>

                <!-- 테이블 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">가맹점 명</th>
                        <th scope="col">대표자</th>
                        <th scope="col">가맹점</th>
                        <th scope="col" class="col-sort">
                            <span>가맹일</span>
             <!--               <i class="fa-solid fa-sort"></i>-->
                        </th>
                        <th scope="col">우편번호</th>
                    </tr>
                    </thead>

                    <!-- 리스트 -->
                    <tbody>
                    <tr>
                        <td>교촌치킨</td>
                        <td>홍길동</td>
                        <td>강남점</td>
                        <td>2024-05-13</td>
                        <td>서울시 강남구 1045-2</td>
                    </tr>
                    </tbody>


                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
</div>

<!-- 모달 영역 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: absolute; top: 50%; left: 56%; transform: translate(-50%, -50%);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">지점명 - 상세보기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="franchiseName" class="form-label">가맹점 명</label>
                        <input type="text" class="form-control" id="franchiseName" placeholder="가맹점 명을 입력해주세요." required>
                    </div>
                    <div class="col-sm-6">
                        <label for="ownerName" class="form-label">대표자 명</label>
                        <input type="text" class="form-control" id="ownerName" placeholder="대표자 명을 입력해주세요." required>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="phone" class="form-label">전화번호</label>
                        <input type="text" class="form-control" id="phone" placeholder="전화번호를 입력해주세요." required>
                    </div>
                    <div class="col-sm-6">
                        <label for="postcode" class="form-label">우편번호</label>
                        <input type="text" class="form-control" id="postcode" placeholder="우편번호를 입력해주세요." required>
                    </div>
                </div>
                <div class="col-12">
                    <label for="address" class="form-label">도로명 주소</label>
                    <input type="text" class="form-control" id="address" placeholder="도로명 주소를 입력해주세요." required>
                </div>
                <div class="col-12">
                    <label for="detailedAddress" class="form-label">상세 주소</label>
                    <input type="text" class="form-control" id="detailedAddress" placeholder="상세 주소를 입력해주세요." required>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="startTime" class="form-label">운영시작 시간</label>
                        <input type="time" class="form-control" id="startTime" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="endTime" class="form-label">운영종료 시간</label>
                        <input type="time" class="form-control" id="endTime" required>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="franchiseDate" class="form-label">가맹일</label>
                        <input type="date" class="form-control" id="franchiseDate">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <span class="create">생성자: 홍길동 | 생성일 2024-05-16</span>
                    <span class="modify">수정자: 홍길동 | 수정일 2024-05-16</span>
                </div>
                <div class="modal-btn">
                    <button class="btn btn-primary" id="delete-btn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">삭제</button>
                    <button class="btn btn-primary" id="modify-btn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">수정</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    /* 모달 */
    $('tr td').on('click', function() {
        $('#exampleModal').modal('show');
    });

    $('.frnBtn').on('click', function() {
        window.location.href ="/crispy/franchise/register";
    })
</script>
</html>