<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link rel="stylesheet" href="/css/franchise/franchise-list.css" type="text/css">
</head>
<body>
<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <div class="franchise-list">
                <h1>결재 문서</h1>

                <!-- 상단 영역 -->
                <div class="top-area">
                    <div>
                        <a href="/crispy/franchise/register" role="button" class="btn frnBtn">가맹점 등록</a>
                        <button class="btn-delete-selected">선택 삭제</button>
                    </div>
                    <!-- 기안자 검색 -->
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="text" name="" id="search" class="form-control search-input" placeholder="가맹점을 입력해주세요.">
                    </div>
                </div>

                <!-- 테이블 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" name="frnCheckbox"></th>
                        <th scope="col">가맹점 명</th>
                        <th scope="col">대표자 명</th>
                        <th scope="col" class="id-column">주소</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">가맹일</th>
                        <th scope="col">수정 / 삭제</th>
                    </tr>
                    </thead>
                    <!-- 리스트 -->
                    <tbody>
                    </tbody>
                </table>

                <!-- 페이지네이션 --->
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                        <li class="page-item">
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
</div>
</body>
<!-- 특정 JS -->
<script src="/js/franchise/franchiseList.js"></script>
</html>