<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link href="/css/franchise/franchise-table.css" rel="stylesheet">
    <link href="/css/franchise/franchise-serach.css" rel="stylesheet">
    <link href="/css/franchise/franchise-data.css" rel="stylesheet">
</head>
<body>
    <div class="crispy-container">
        <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
        <div>
            <header th:replace="~{layout/navbar :: navbar}"></header>
            <main>
				<div class="container">
					<div class="title">
						<h1>가맹점 관리</h1>
					</div>
					<div class="box">
						<button type="button" class="btn frnBtn">가맹점 등록</button>
						<div class="col-sm-2 strDate">
                            <label for="franchiseDate" class="form-label">시작날짜</label>
                            <input type="date" class="form-control" id="">
                        </div>
                        <h2>-</h2>
                        <div class="col-sm-2 endDate">
                            <label for="franchiseDate" class="form-label">종료날짜</label>
                            <input type="date" class="form-control" id="">
                        </div>
						<div class="container-1">
							<span class="icon"><i class="fa fa-search"></i></span>
							<input type="search" id="search" placeholder="검색" />
						</div>
					</div>
					<table>
						<thead>
							<tr>
								<th>가맹점 명</th>
								<th>대표자</th>
								<th>전화번호</th>
								<th>우편번호</th>
								<th>가맹점</th>
								<th>가맹일</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
							<tr>
								<td>교촌치킨</td>
								<td>홍길동</td>
								<td>010-4021-8000</td>
								<td>서울시 강남 105-3</td>
								<td>강남점</td>
								<td>2024.05.10</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a class="page-link"
								aria-label="First"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="page-item"><a class="page-link"
								aria-label="Previous"> <span aria-hidden="true">&lt;</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">6</a></li>
							<li class="page-item"><a class="page-link" href="#">7</a></li>
							<li class="page-item"><a class="page-link" href="#">8</a></li>
							<li class="page-item"><a class="page-link" href="#">9</a></li>
							<li class="page-item"><a class="page-link" href="#">10</a></li>
							<li class="page-item"><a class="page-link" aria-label="Next">
									<span aria-hidden="true">&gt;</span>
							</a></li>
							<li class="page-item"><a class="page-link" aria-label="Last">
									<span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div>
			</main>
            <footer th:replace="~{layout/footer :: footer}"></footer>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: absolute; top: 50%; left: 56%; transform: translate(-50%, -50%);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">지점명 - 상세보기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="franchiseName" class="form-label">가맹점 명</label>
                            <input type="text" class="form-control" id="franchiseName" placeholder="가맹점 명을 입력해주세요." required>
                        </div>
                        <div class="col-sm-6">
                            <label for="ownerName" class="form-label">대표자 명</label>
                            <input type="text" class="form-control" id="ownerName" placeholder="대표자 명을 입력해주세요." required>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="phone" class="form-label">전화번호</label>
                            <input type="text" class="form-control" id="phone" placeholder="전화번호를 입력해주세요." required>
                        </div>
                        <div class="col-sm-6">
                            <label for="postcode" class="form-label">우편번호</label>
                            <input type="text" class="form-control" id="postcode" placeholder="우편번호를 입력해주세요." required>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">도로명 주소</label>
                        <input type="text" class="form-control" id="address" placeholder="도로명 주소를 입력해주세요." required>
                    </div>
                    <div class="col-12">
                        <label for="detailedAddress" class="form-label">상세 주소</label>
                        <input type="text" class="form-control" id="detailedAddress" placeholder="상세 주소를 입력해주세요." required>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="startTime" class="form-label">운영시작 시간</label>
                            <input type="time" class="form-control" id="startTime" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="endTime" class="form-label">운영종료 시간</label>
                            <input type="time" class="form-control" id="endTime" required>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="franchiseDate" class="form-label">가맹일</label>
                            <input type="date" class="form-control" id="franchiseDate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <span class="create">생성자: 홍길동 | 생성일 2024-05-16</span>
                        <span class="modify">수정자: 홍길동 | 수정일 2024-05-16</span>
                    </div>
                    <div class="modal-btn">
                        <button class="btn btn-primary" id="delete-btn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">삭제</button>
                        <button class="btn btn-primary" id="modify-btn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    	/* 모달 */
        $('tr td').on('click', function() {
            $('#exampleModal').modal('show');
        });
    	
    	$('.frnBtn').on('click', function() {
    		window.location.href ="/crispy/franchise/register";
    	})
    </script>
</body>
</html>
