<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<link rel="stylesheet" href="/css/stock/stock-order.css" type="text/css">
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<main>
				<div class="stock-order">
					<h1>발주 신청</h1>

					<!-- 상단 버튼 -->
					<div class="top-btn">
						<button type="button" class="btn" id="temp-content">임시저장 내용 불러오기</button>
						<button type="button" class="btn" id="add-list">+ 추가하기</button>
					</div>
					<hr>

					<!-- 발주재고 form -->
					<form method="POST" action="/crispy/order-req" id="form-container">
						<div class="order-list">

							<!-- 카테고리 -->
							<div>
								<div class="m-right" id="stock-ct">카테고리</div>
								<select class="form-select form-select-lg mb-3" aria-label="Large select example" name="stockCt">
									<option value="">선택</option>
									<option value="">카테고리 1</option>
									<option value="">카테고리 2</option>
									<option value="">카테고리 3</option>
									<option value="">카테고리 4</option>
									<option value="">카테고리 5</option>
								</select>
							</div>

							<!-- 재고명 -->
							<div>
								<div class="m-right" id="stock-name">재고명</div>
								<select class="form-select form-select-lg mb-3" aria-label="Large select example" name="stockName">
									<option value="">선택</option>
									<option value="">재고 1</option>
									<option value="">재고 2</option>
									<option value="">재고 3</option>
									<option value="">재고 4</option>
									<option value="">재고 5</option>
								</select>
							</div>

							<!-- 단가 -->
							<div>
								<div class="m-right">단가</div>
								<div class="stock-price">
									<span>500</span>
									<span>원</span>
									<span>&nbsp;/&nbsp;</span>
									<span>30g</span>
								</div>
							</div>

							<!-- 수량 -->
							<div>
								<div class="m-right">수량</div>
								<input type="text" class="form-control">
								<div>개</div>
							</div>

							<!-- 합계금액 -->
							<div class="total-cost">
								<span class="strong">50,000</span>
								<span>원</span>
							</div>
						</div>
						<hr>

						<!-- 테스트용 -->
						<div id="stock-temp-container" th:fragment="stock-temp-container">
							<th:block th:each="stockDto, stat : ${stockDtoList}">
								<div class="select-stock">
									<span>카테고리: </span>
									<span th:text="${stockDto.stockCtName}"></span>
									<span> | 재고명: </span>
									<span th:text="${stockDto.stockName}"></span>
									<span> | 단가: </span>
									<span th:with="formattedPrice=${#numbers.formatDecimal(stockDto.stockPrice, 0, 'COMMA', 0, 'COMMA')}"
										  th:text="${formattedPrice}" class="test-price"></span>
									<span>원 / </span>
									<span th:text="${stockDto.stockUnit}"></span>
									<span> | 수량: </span>
									<input type="text" class="test-count"
										   th:name="|stockOrderList[${stat.index}].stockOrderCount|"
										   th:value="${stockDto.stockOrderCount}">
									<input type="hidden" class="stock-order-cost"
										   th:name="|stockOrderList[${stat.index}].stockOrderCost|"
										   th:value="${stockDto.stockOrderCost}">
									<span>개 | 금액: </span>
									<span class="test-cost"
										  th:with="formattedCost=${#numbers.formatDecimal(stockDto.stockOrderCost, 0, 'COMMA', 0, 'COMMA')}"
										  th:text="${formattedCost}">0</span>
									<span>원</span>
									<input type="hidden"
										   th:name="|stockOrderList[${stat.index}].stockNo|"
										   th:value="${stockDto.stockNo}">
									<hr>
								</div>
							</th:block>
						</div>
						<!-- 하단 버튼 -->
						<div class="bottom-btn">

							<!-- 임시저장 -->
							<div><button type="button" class="btn" id="temp">임시저장</button></div>

							<div>
								<!-- 총 합계금액 -->
								<div class="order-cost">
									<span>합계&nbsp;</span>
									<span class="strong" id="order-cost">0</span>
									<span>원</span>
								</div>

								<button class="btn" id="order">신청하기</button>
								<button class="btn" id="cancel">취소</button>
							</div>
						</div>
					</form>
				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
	</div>
	<script src="/js/stock/stockOrder.js"></script>
</body>
</html>