<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<link rel="stylesheet" href="/css/stock/stock-list.css" type="text/css">
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<header th:replace="~{layout/navbar :: navbar}"></header>
			<main>
				<div class="stock-list">
					<h1>재고 현황</h1>

					<!-- 상단 영역 -->
					<div class="top-area">

                        <!-- 재고명 검색 -->
                        <div class="container-1">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="text" name="" id="search" class="form-control" placeholder="재고명을 입력하세요.">
						</div>
                        
                        <!-- 카테고리 선택 -->
                        <select class="form-select form-select-lg mb-3 m-left" id="stock-ct" aria-label="Large select example" name="stockCt">
                            <option value="0">카테고리 선택</option>

                            <!-- 카테고리 옵션 -->
                            <th:block th:each="stockCt : ${stockCtList}">
                                <option th:value="${stockCt.stockCtNo}" th:text="${stockCt.stockCtName}"></option>
                            </th:block>

                        </select>

                        <!-- 발주 신청 -->
						<button type="button" class="btn m-left" id="order">발주 신청</button>
					</div>

                    <div class="stock-list-container" th:fragment="stock-list-container">
                        <!-- 테이블 -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">재고 이미지</th>
                                <th scope="col" class="col-sort">
                                    <span>재고명</span>
                                    <i class="fa-solid fa-sort" id="stock-name-sort"></i>
                                </th>
                                <th scope="col">카테고리</th>
                                <th scope="col" class="col-sort">
                                    <span>수량</span>
                                    <i class="fa-solid fa-sort"></i>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                                <!-- 리스트 -->
                                <tr class="stock-row" th:each="stock : ${stockDtoList.items}" th:data-stock-no="${stock.stockNo}">

                                    <!-- 체크박스 -->
                                    <td><input type="checkbox"></td>

                                    <!-- 재고 이미지 -->
                                    <td><img th:src="${stock.stockImg}" alt="재고 1 이미지"></td>

                                    <!-- 재고명 -->
                                    <td th:text="${stock.stockName}"></td>

                                    <!-- 카테고리 -->
                                    <td th:text="${stock.stockCtName}"></td>

                                    <td>
                                        <!-- 수량 -->
                                        <span class="strong" th:text="${stock.isCount}"></span>
                                        <span>개</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 페이지네이션 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous" data-page-no="1">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!-- 페이지 이동 버튼 -->
                                <th:block th:each="pageNo : ${#numbers.sequence(stockDtoList.startPage, stockDtoList.endPage)}">
                                    <li class="page-item">
                                        <a class="page-link" href="#" th:text="${pageNo}" th:data-page-no="${pageNo}"></a>
                                    </li>
                                </th:block>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next" th:data-page-no="${stockDtoList.totalPage}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- 재고 상세 모달 -->
                    <div class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <!-- 재고명 -->
                                    <h2 class="modal-title"></h2>

                                    <!-- 단가 -->
                                    <div class="stock-price">
                                        <span></span>
                                        <span>원</span>
                                        <span>&nbsp;/&nbsp;</span>
                                        <span></span>
                                    </div>

                                    <!-- 닫기 버튼 -->
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <!-- 재고 이미지 -->
                                    <img src="" alt="재고 이미지" class="stock-img">

                                    <!-- 재고 설명 -->
                                    <div class="stock-detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
	</div>

    <script src="/js/stock/stockList.js"></script>
</body>
</html>