<html>
<header class="navbar navbar-expand-lg" th:fragment="navbar">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto flex-row">
            <li class="nav-item">
                <div class="nav-profile-ui chat-menu">
                    <a href="/crispy/chat">
                        <i class="fa-regular fa-comments me-5"></i>
                        <span id="unreadMessageCountBadge" class="badge">0</span>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-profile-ui">
                    <i class="fa-solid fa-bell me-3 notification"></i>
                    <span class="notification-badge">1</span>
                    <div class="notification-menu-content">
                        <ul class="my-menu-list">
                            <li class="my-menu-item">
                                <span>결재가 승인되었습니다.</span>
                            </li>
                            <li class="my-menu-item">
                                <span>발주 결재가 반려되었습니다.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-profile-ui">
                    <img th:src="${isAdmin ? '/img/anonymous.png' : (loggedEmp != null ? loggedEmp.empProfile : '/img/anonymous.png')}" id="nav-profile-img" class="nav-img">
                    <div class="nav-welcome">
                        <span th:text="${isAdmin ? '관리자' : (loggedEmp != null ? loggedEmp.empName : '')}"></span>
                    </div>
                    <div class="profile-menu-content">
                        <ul class="my-menu-list">
                            <li class="my-menu-item" id="my-profile">
                                <div class="my-menu-info">
                                    <a href="/crispy/employee/profile">내 프로필</a>
                                </div>
                            </li>
                            <hr>
                            <li class="my-menu-item">
                                <a class="my-menu-logout" id="logout-button" href="/crispy/logout">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <span>로그아웃</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
</html>