<aside th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="sidebar">

        <!-- 헤더: 로고 이미지 -->
        <div class="side-header">
            <a href="/"><img src="/img/crispy2.png" alt="크리스피 로고"></a>
        </div>

        <!-- 섹션: 메뉴 리스트 -->
        <div>
            <!-- 섹션 상단: 프로필 -->
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <div class="nav-profile-ui">

                        <!-- 프로필 이미지 -->
                        <img th:src="${isAdmin ? '/img/anonymous.png' : (loggedEmp != null ? loggedEmp.empProfile : '/img/anonymous.png')}"
                             id="nav-profile-img" class="nav-img">

                        <!-- 직원명 -->
                        <div class="nav-welcome">
                            <span th:text="${isAdmin ? '관리자' : (loggedEmp != null ? loggedEmp.empName : '')}"></span>
                            <span>님 환영합니다!</span>
                        </div>

                        <!-- 프로필 드롭다운 -->
                        <div class="menu-content profile-mc">
                            <ul class="my-menu-list">
                                <li class="my-menu-item" id="my-profile" sec:authorize="!hasRole('ROLE_ADMIN')">
                                    <div class="my-menu-info">
                                        <a href="/crispy/employee/profile">내 프로필</a>
                                    </div>
                                </li>
                                <hr>
                                <li class="my-menu-item">
                                    <a class="my-menu-logout" id="logout-button">
                                        <!--<i class="fa-solid fa-arrow-right-from-bracket"></i>-->
                                        <span>로그아웃</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 알림, 채팅 -->
                    <div class="noti-chat">

                        <!--알림-->
                        <div class="nav-item">
                            <div class="nav-profile-ui">
                                <!-- 알림 아이콘 -->
                                <i class="fa-solid fa-bell me-3 notification"></i>

                                <!-- 알림 개수 -->
                                <span id="notification-count" class="notification-badge">1</span>

                                <!-- 알림 드롭다운 -->
                                <div class="menu-content notification-mc">
                                    <ul id="notification-list" class="my-menu-list">
                                        <!-- 알림 메시지 추가 -->
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--채팅-->
                        <div class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                            <div class="nav-profile-ui chat-menu">
                                <a href="/crispy/chat">
                                    <i class="fa-regular fa-comments me-5"></i>
                                    <span id="unreadMessageCountBadge" class="badge">0</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- 메뉴 구분 선 -->
                <li class="border-top my-3"></li>

                <!-- 마이 페이지 -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-1-collapse" sec:authorize="!hasRole('ROLE_ADMIN')">
                        <a href="/crispy/employee/profile"><span>마이 페이지</span></a>
                    </div>
                </li>

                <!-- 일정 (캘린더) -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-2-collapse">
                        <a href="/crispy/calendar">
                            <span>캘린더</span>
                        </a>
                    </div>
                </li>

                <!-- 근태 관리 -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-3-collapse">
                        <a href="/crispy/attend">
                            <span>근태 관리</span>
                        </a>
                    </div>
                </li>

                <!-- 휴가 관리 -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-4-collapse">
                        <a href="#">
                            <span>휴가 관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-4-collapse">
                    <ul class="">
                        <li><a href="/crispy/time-off-approval" class="s-menu">휴가/휴직 신청</a></li>
                        <li><a href="/crispy/approval-list" class="s-menu">신청 내역</a></li>
                    </ul>
                    </div>
                </li>

                <!-- 게시판 (공지사항, 자유게시판) -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-5-collapse">
                        <a href="#">
                            <span>게시판</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-5-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">공지사항</a></li>
                        <li><a href="/crispy/board-list" class="s-menu">자유게시판</a></li>
                    </ul>
                    </div>
                </li>

                <!-- 관리자, 가맹점주 메뉴 구분 선 -->
                <li class="border-top my-3"></li>

                <!-- 직원 관리 -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-9-collapse" sec:authorize="hasRole('ROLE_OWNER')">
                        <a href="#">
                            <span>직원 관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-9-collapse">
                    <ul class="">
                        <li><a href="/crispy/owner/employee/register" class="s-menu">직원 등록</a></li>
                        <li><a href="/crispy/owner/employees" class="s-menu">직원 관리</a></li>
                    </ul>
                    </div>
                </li>

                <!-- 재고 관리 -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-10-collapse">
                        <a href="#">
                            <span>재고 관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-10-collapse">
                        <ul class="">
                            <li><a href="/crispy/stock-list" class="s-menu">재고 현황</a></li>
                            <li><a href="/crispy/stock-order" class="s-menu">발주 신청</a></li>
                        </ul>
                    </div>
                </li>

                <!-- 가맹점 관리 -->
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-11-collapse" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#">
                            <span>가맹점 관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-11-collapse">
                        <ul class="">
                            <li><a href="/crispy/franchiseList" class="s-menu">가맹점 관리</a></li>
                            <li><a href="/crispy/franchise/register" class="s-menu">가맹점 등록</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>