<aside th:fragment="sidebar">
    <div class="sidebar">
        <!-- 헤더: 로고 이미지 -->
        <div class="side-header">
            <a href="/"><img src="/img/crispy2.png" alt="크리스피 로고"></a>
        </div>

        <!-- 섹션: 메뉴 리스트 -->
        <div>
            <ul class="list-unstyled ps-0">

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-1-collapse">
                        <a href="#"><span>메뉴 1</span></a>
                    </div>
                    <div class="collapse" id="menu-1-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-2-collapse">
                        <a href="#">
                            <span>우혜진 [임시]</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-2-collapse">
                    <ul class="">
                        <li><a href="/crispy/stock-list" class="s-menu">재고 현황</a></li>
                        <li><a href="/crispy/stock-order" class="s-menu">발주 신청</a></li>
                        <li><a href="/crispy/approval-list" class="s-menu">결재 관리</a></li>
                        <li><a href="/crispy/vacation-approval" class="s-menu">휴가/휴직 신청</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-3-collapse">
                        <a href="#">
                            <span>배영욱 [임시]</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-3-collapse">
                    <ul class="">
                        <li><a href="/crispy/login" class="s-menu">로그인</a></li>
                        <li><a href="/crispy/employee/find/username" class="s-menu">아이디 찾기</a></li>
                        <li><a href="/crispy/employee/find/password" class="s-menu">비밀번호 찾기</a></li>
                        <li><a href="/crispy/employee/profile" class="s-menu">마이페이지</a></li>
                        <li><a href="/crispy/owner/employees" class="s-menu">직원 관리</a></li>
                        <li><a href="/crispy/owner/employee/register" class="s-menu">직원 등록</a></li>
                        <li><a href="/crispy/owner/employee" class="s-menu">직원 정보 수정</a></li>
                        <li><a href="/crispy/franchise/register" class="s-menu">가맹점 등록</a></li>
                        <li><a href="/crispy/franchise" class="s-menu">가맹점 상세</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-4-collapse">
                        <a href="#">
                            <span>메뉴 4</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-4-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-5-collapse">
                        <a href="#">
                            <span>메뉴 5</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-5-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-6-collapse">
                        <a href="#">
                            <span>메뉴 6</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-6-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-7-collapse">
                        <a href="#">
                            <span>메뉴 7</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-7-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-8-collapse">
                        <a href="#">
                            <span>메뉴 8</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-8-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="border-top my-3"></li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-9-collapse">
                        <a href="#">
                            <span>메뉴 9</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-9-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-10-collapse">
                        <a href="#">
                            <span>메뉴 10</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-10-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>