<aside th:fragment="sidebar">
    <div class="sidebar">
        <!-- 헤더: 로고 이미지 -->
        <div class="side-header">
            <a href="/"><img src="/img/crispy2.png" alt="크리스피 로고"></a>
        </div>

        <!-- 섹션: 메뉴 리스트 -->
        <div>
            <ul class="list-unstyled ps-0">

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-1-collapse">
                        <a href=""><span>마이페이지</span></a>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-2-collapse">
                        <a href="/crispy/calendar">
                            <span>캘린더</span>
                        </a>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-3-collapse">
                        <a href="#">
                            <span>근태관리</span>
                        </a>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-4-collapse">
                        <a href="#">
                            <span>휴가관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-4-collapse">
                    <ul class="">
                        <li><a href="/crispy/time-off-approval" class="s-menu">휴가휴직 신청</a></li>
                        <li><a href="/crispy/approval-list" class="s-menu">신청 내역</a></li>
                    </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-5-collapse">
                        <a href="#">
                            <span>게시판</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-5-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">공지사항</a></li>
                        <li><a href="#" class="s-menu">자유게시판</a></li>
                    </ul>
                    </div>
                </li>

                <li class="border-top my-3"></li>

                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-9-collapse">
                        <a href="#">
                            <span>직원관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-9-collapse">
                    <ul class="">
                        <li><a href="#" class="s-menu">소메뉴 1</a></li>
                        <li><a href="#" class="s-menu">소메뉴 2</a></li>
                        <li><a href="#" class="s-menu">소메뉴 3</a></li>
                        <li><a href="#" class="s-menu">소메뉴 4</a></li>
                    </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-10-collapse">
                        <a href="#">
                            <span>재고 관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-10-collapse">
                        <ul class="">
                            <li><a href="/crispy/stock-list" class="s-menu">재고 현황</a></li>
                            <li><a href="/crispy/stock-order" class="s-menu">발주 신청</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="menu" data-bs-toggle="collapse" data-bs-target="#menu-11-collapse">
                        <a href="#">
                            <span>가맹점관리</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="menu-11-collapse">
                        <ul class="">
                            <li><a href="#" class="s-menu">소메뉴 1</a></li>
                            <li><a href="#" class="s-menu">소메뉴 2</a></li>
                            <li><a href="#" class="s-menu">소메뉴 3</a></li>
                            <li><a href="#" class="s-menu">소메뉴 4</a></li>
                        </ul>
                    </div>
                </li>
<!--                <li class="mb-1">-->
<!--                    <div class="chat-menu" data-bs-toggle="collapse" data-bs-target="#menu-10-collapse">-->
<!--                        <a href="/crispy/chat">-->
<!--                            <span>채팅</span>-->
<!--                            <span id="unreadMessageCountBadge" class="badge">0</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</aside>