<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
	<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
	<link href="/css/freeboard/free-board-add.css" rel="stylesheet">
</head>
<body>
<div class="crispy-container">
	<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
	<div>
		<main>
			<div class="free-board-add">
				<form id="frm-board-add" method="POST" class="my-3" enctype="multipart/form-data">
					<h1 class="border-bottom py-2">게시물 작성하기</h1>
					<div class="col-md-5">
						<label for="cate" class="form-label">카테고리</label>
						<select class="form-select board-ct-no" id="cate" name="boardCtNo" required>
							<option value="">카테고리</option>
							<option value="0">공지사항</option>
							<option value="1">자유게시판</option>
						</select>
					</div>
					<label for="boardTitle" class="form-label">제목</label>
					<input type="text" name="boardTitle" id="boardTitle" class="form-control board-title" style="white-space: pre-line;" placeholder="제목은 100자 내외로 입력해주세요." required />
					<div class="error-message boardTitle-error" style="display: none;"></div>
					<div class="mb-3">
						<label for="summernote" class="form-label mt-2">내용</label>
						<textarea id="summernote" name="boardContent" class="boardContent board-content"></textarea>
						<div class="error-message boardContent-error" style="display: none;"></div>
					</div>
					<div class="file-attach">
						<div class="mb-3">
							<input class="form-control" type="file" id="formFileMultiple" name="files" multiple>
						</div>
					</div>
					<div class="file-list"></div> <!-- 선택된 파일 이름을 표시할 요소 -->
					<div class="d-flex justify-content-end" id="btn">
						<a id="cancelBtn" class="btn btn-primary btn-lg">취소</a>
						<button type="button" id="addBtn" class="btn btn-primary btn-lg">등록</button>
					</div>
				</form>
			</div>
		</main>
		<footer th:replace="~{layout/footer :: footer}"></footer>
	</div>
	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
	<script src="/js/board/board.js"></script>
	<script>

		$(document).ready(function() {
			$('#summernote').summernote({
				placeholder: '500자',
				tabsize: 2,
				height: 400,
				toolbar: [
					['style', ['style']],
					['font', ['bold', 'underline', 'clear']],
					['color', ['color']],
					['para', ['ul', 'ol', 'paragraph']],
					['table', ['table']],
					['insert', ['link', 'picture', 'video']],
					['view', ['fullscreen', 'codeview', 'help']]
				],
				callbacks: {
					onInit: function() {
						$('#summernote').next().find('.note-placeholder').css('font-size', '16px');
						$('#summernote').next().find('.note-editable').css('font-size', '16px');
					}
				},
			});
		});

		$('#cancelBtn').on('click', () => {
			window.location.href="/board/board-list";
		});
	</script>
</div>
</body>
</html>
