<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>

	<!-- 특정 페이지 css -->
	<link href="/css/board/board-detail.css" rel="stylesheet">
</head>
<body>

<div class="crispy-container">
	<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
	<div>
		<header th:replace="~{layout/navbar :: navbar}"></header>
		<main>
			<div class="main">
				<form id="frm-board-add" th:action="@{/dokky/detail}" method="POST"
					  class="my-3">
					<input type="hidden" id="boardNo" value="${board.boardNo}">
					<!-- 제목 -->
					<h1 class="border-bottom py-2"></h1>
			</div>
			<div class="detail-body">
				<h3 class="detail-title" id="detail-title"></h3>
				<div class="board-writer">
					<img src="/img/anonymous.png" id="profile-img" width="35px"
						 height="35px"><span class="detail-writer"
											 id="detail-writer">정은</span>
				</div>
				<div>
					<span class="detail-date" id="detail-date">2024/05/19</span>
				</div>
				<div>
					<span class="detail-hit" id="detail-hit"></span><i
						class="fa-regular fa-eye" style="font-size: 2rem;"></i> <span
						id="hit">40</span> <span class="like-area"> <i
						class="fa-regular fa-heart" style="font-size: 2rem;"
						id="boardLike" th:if="${likeCheck == null}"></i>
                   </span>
				</div>
				<hr>
				<div id="board-title">
					<span class="boardtitle" id="boardtitle" th:text="${board.title}"></span>
					<button type="button" class="btn btn-secondary btn-lg"
							id="deleteBtn">삭제</button>

					<button type="button" class="btn btn-primary btn-lg"
							id="modifyBtn">수정</button>
				</div>

				<div id="board-content">
                   <span class="boardcontent" id="boardcontent" th:text="${board.content}">
                   </span>
				</div>
				<div class="boardfile" id="boardfile">
					<h2>* 첨부파일</h2>
				</div>
				<hr>

				<div class="board-comment">
					<label for="boardContent" class="form-label mt-2" id="comment"><h3>댓글</h3></label>
					<div class="comment">
						<img src="/img/anonymous.png" id="profile-img" width="35px"
							 height="35px">
						<textarea type="text" name="boardcomment" id="boardcomment"
								  class="form-control" placeholder="내용은 500자 내외로 입력해주세요."
								  maxlength="500" wrap="hard" rows="2" cols="1"
								  style="font-size: 1.7rem;"></textarea>
						<button type="button" class="btn btn-primary btn-lg"
								id="comment-add">등록</button>
					</div>
				</div>
				<br>
				<hr>
				<div>

					<div class="comment-list">
						<div>
							<img src="/img/anonymous.png" id="profile-img" width="35px"
								 height="35px"><span style="margin-left: 10px;">정은</span>
						</div>
						<div>
							<span><h5>2024/05/19</h5></span>
							<button type="button" class="btn btn-primary btn-lg"
									id="comment-delete">삭제</button>
							<button type="button" class="btn btn-primary btn-lg"
									id="comment-modify">수정</button>
						</div>
						<div>
                         <span>첫번째 댓글 내용 첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째
                            댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째
                            댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용첫번째 댓글 내용 </span>

						</div>
					</div>
					<div class="mb-3 reply-container">
						<button type="button" class="btn btn-primary btn-lg"
								id="reply-button">답글</button>

						<div class="comment-reply">
							<img src="/img/anonymous.png" id="profile-img" width="35px"
								 height="35px" style="display: none;">
							<textarea type="text" name="reply" id="reply"
									  class="form-control" placeholder="내용은 500자 내외로 입력해주세요."
									  maxlength="500" wrap="hard" rows="2" cols="50"
									  style="display: none; font-size: 1.7rem;"></textarea>
							<button type="button" class="btn btn-primary btn-lg"
									id="recomment" style="display: none;">등록</button>
						</div>
					</div>
				</div>



			</div>
		</main>
		<footer th:replace="~{layout/footer :: footer}"></footer>
	</div>
	<!-- 특정 JS -->

	<script>
		document.getElementById('modifyBtn').addEventListener('click',
				function() {
					window.location.href = '/crispy/board-modify';
				});
		document
				.getElementById('reply-button')
				.addEventListener(
						'click',
						function() {
							var textarea = document.getElementById('reply');
							var button = document
									.getElementById('recomment');
							var img = document
									.querySelector('.reply-container img');
							textarea.style.display = textarea.style.display === 'none' ? 'block'
									: 'none';
							button.style.display = button.style.display === 'none' ? 'block'
									: 'none';
							img.style.display = img.style.display === 'none' ? 'block'
									: 'none';
						});

		const fnClickDelete = ()=> {
			document.getElementById('deleteBtn').addEventListener('click', function(evt){
				if(confirm("정말 게시글을 삭제할까요?"))
				{
					$.ajax({
						type:'DELETE',
						url: '/crispy/deleteBoard/' + boardNo,
						dataType:'json',
						success: function(data){
							location.href = "/crispy/board-list";
						},
						error:function(jqXHR){
							alert(jqXHR.statusText + '(' + jqXHR.status + ')');
						}
					})
				}
			})
		}

		const fnClickModify = () => {

			document.getElementById('modifyBtn').addEventListener('click', function(evt) {
				window.location.href = '/crsipy/modify?boardNo=' + boardNo;
			})
		}


	</script>
</div>
</body>
</html>