<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <!-- 특정 페이지 css -->
    <link href="/css/board/board-list.css" rel="stylesheet">
    <link href="/css/board/board-detail.css" rel="stylesheet">

</head>
<body>
<div>
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <h4 class="detail-title" id="detail-title">상세보기</h4>
            <input type="hidden" class="board-no" th:value="${board.boardNo}">
            <div class="body">
                <div class="detail-body">
                    <div>
                        <span>제목: <span class="writer" id="writer" th:text="${board.boardTitle}"></span></span>
                        <span>작성자: <span class="detail-writer" id="detail-writer" th:text="${board.empName}">: 정은</span></span>
                        <input type="hidden" class="emp-no" th:value="${board.empNo}">
                    </div>
                    <div>
                        <span class="date" id="date" th:value="${board.createDt}">2024/05/19</span>
                    </div>
                    <div>
                        <span class="hit" id="hit">조회수</span> <span th:text="${board.boardHit}">20</span>
                    </div>
                    <hr>
                    <div>
                        <span class="text" id="text" th:text="${board.boardContent}"></span>
                    </div>
                </div>
                <div>
                    <a th:href="@{|/crispy/board-modify/${board.boardNo}|}" role="button" class="btn btn-primary" id="btn-modify-board">수정</a>
                    <button type="button" id="btn-delete-board" class="board-delete">삭제</button>
                </div>
                <div id="div1">
                    <div>
                        <img th:src="${board.isLiked ? '/img/heart2.png' : '/img/heart1.png'}" width="20px" id="like-button">
                        좋아요 수 : <span id="like-count" th:text="${board.boardLikeCount}"></span>
                    </div>
                </div>
                <a href="/crispy/board-list" role="button" class="btn btn-primary">목록으로</a>
                <div class="boardfile" id="boardfile">* 첨부파일</div>
                <ul>
                    <li th:each="file : ${files}">
                        <a href="javascript:void(0);" th:data-file-no="${file.boardFileNo}" class="file-download" th:text="${file.boardOrigin}"></a>
                    </li>
                </ul>
                <button type="button" id="downloadAllBtn" class="btn btn-secondary">모든 파일 다운로드</button>
                <hr>
                <!-- 댓글 작성 부분 -->
                <div class="mb-3">
                    <label for="cmt-comment" class="form-label mt-2" id="comment">댓글</label>
                    <textarea type="text" name="cmtComment" id="cmt-comment"
                              class="form-control" placeholder="내용은 500자 내외로 입력해주세요."
                              maxlength="500" wrap="hard" rows="2" cols="1"></textarea>
                    <button type="button" class="btn btn-primary" id="comment-add">등록</button>
                </div>
                <!-- 댓글 목록 부분 -->
                <div id="comment-list">
                    <div th:each="comment : ${comments}">
                        <div th:class="'comment-level-' + ${comment.level}" th:if="${comment.cmtStat != 1}">
                            <div>
                                <input type="hidden" th:value="${comment.cmtNo}" class="cmt-no">
                                <p th:text="${comment.cmtContent}"></p>
                                <small>작성자: <span th:text="${comment.empName}"></span></small>

                            </div>
                            <div th:if="${comment.creator == currentEmpNo}">
                                <button type="button" class="btn btn-secondary comment-delete" th:data-comment-no="${comment.cmtNo}">삭제</button>
                                <button type="button" class="btn btn-primary comment-modify" th:data-comment-no="${comment.cmtNo}">수정</button>
                            </div>
                            <div class="mb-3 reply-container">
                                <div class="mb-3 reply-container">
                                    <input type="hidden" class="cmt-no" th:value="${comment.cmtNo}">
                                    <button type="button" class="btn btn-primary" id="reply-button">답글</button>
                                </div>
                            </div>
                        </div>
                        <div th:if="${comment.cmtStat == 1}">
                            <p>삭제된 메시지입니다.</p>
                            <small>작성자: <span th:text="${comment.empName}"></span></small>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{layout/footer :: footer}"></footer>
</div>
<!-- 특정 JS -->
<script src="/js/board.js"></script>
</body>
</html>
