<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<!-- 특정 페이지 css -->
<link href="/css/board/board-add.css" rel="stylesheet">
</head>
<body>

	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<header th:replace="~{layout/navbar :: navbar}"></header>
			<main>
				<div class="main">
					<form id="frm-board-add" action="/dokky/add-form" method="POST"
						class="my-3">
						<input type="hidden" id="boardNo" value="${board.boardNo}">
						<!-- 제목 -->
						<h4 class="border-bottom py-2">게시물 작성하기</h4>
						<div class="col-md-5">
							<label for="cate" class="form-label">카테고리</label> <select
								class="form-select" id="cate" required="">
								<option value="">카테고리</option>
								<option>공지사항</option>
								<option>자유게시판</option>
							</select>
						</div>
						<label for="boardTitle" class="form-label">제목</label> <input
							type="text" name="boardTitle" id="boardTitle"
							class="form-control" style="white-space: pre-line;"
							placeholder="제목은 15자 내외로 입력해주세요." maxlength="15" />
						<!-- 내용 -->
						<div class="mb-3">
							<label for="boardContent" class="form-label mt-2">내용</label>
							<textarea type="text" name="boardContent" id="boardContent"
								class="form-control" placeholder="내용은 500자 내외로 입력해주세요."
								maxlength="500" wrap="hard"></textarea>
						</div>
						<div>
							<label for="files">첨부</label> <input type="file" name="files"
								id="files" multiple>
						</div>
						<div class="d-flex justify-content-end" id="btn">
							<input type="hidden" name="userNo"
								value="${sessionScope.user.userNo}"> <a type="submit"
								id="cancelBtn" class="btn btn btn-light mr-2 btn-lg">취소</a>
							<button type="submit" id="addBtn" class="btn btn-primary btn-lg">등록</button>
						</div>
					</form>

				</div>
			</main>
			<footer th:replace="~{layout/footer :: footer}"></footer>
		</div>
		<!-- 특정 JS -->
		<script>
	  
	    
		$('#cancelBtn').on('click', () => {
			window.location.href="/dokky/main";
		})
		/* 게시물 등록 예외처리 */
		const fnRegisterBoard = (evt) => {
		  if(document.getElementById('boardTitle').value === '') {
		    alert('제목 입력은 필수입니다.');
		    evt.preventDefault();
		    return;
		  }else if(document.getElementById('boardContent').value === '') {
			alert('내용 입력은 필수입니다.');
			evt.preventDefault();
			return;
		   }else{
			   alert("게시물이 등록되었습니다.");
		   }
		}
		
		document.getElementById('frm-board-add').addEventListener('submit', (evt) => {
		  fnRegisterBoard(evt);
		});
  </script>
	</div>
</body>
</html>