<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
	<link rel="stylesheet" href="/css/board/board-list.css" type="text/css">
</head>
<body>
<div class="crispy-container">
	<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
	<div>
		<header th:replace="~{layout/navbar :: navbar}"></header>
		<main>
			<div class="board-list">
				<h1>자유게시판</h1>

				<!-- 상단 영역 -->
				<div class="top-area">
					<button type="submit" id="addBtn" class="btn btn-primary btn-lg">등록</button>
					<div class="container-1">
						<span class="icon"><i class="fa fa-search"></i></span><input
							type="text" name="" id="search" class="form-control"
							placeholder="검색어를 입력하세요.">
					</div>
				</div>

				<!-- 테이블 -->
				<table class="table">
					<thead>
					<tr>
						<th scope="col">게시물 번호</th>
						<th scope="col">제목</th>
						<th scope="col">내용</th>
						<th scope="col">조회수</th>
						<th scope="col">작성일</th>
					</tr>
					</thead>

					<!-- 리스트 -->
					<tbody>
					<tr th:each="free : ${freeList}">
						<td th:text="${free.boardNo}">자유게시판 번호</td>
						<td class="title" th:text="${free.boardTitle}">제묵</td>
						<td th:text="${free.boardContent}">내용</td>
						<td th:text="${free.boardHit}">조회수</td>
						<td th:text="${free.createDt}">작성일</td>
					</tr>
					</tbody>


				</table>

				<nav aria-label="Page navigation example">
					<ul class="pagination pagination-lg">
						<li class="page-item"><a class="page-link" href="#"
												 aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">6</a></li>
						<li class="page-item"><a class="page-link" href="#">7</a></li>
						<li class="page-item"><a class="page-link" href="#">8</a></li>
						<li class="page-item"><a class="page-link" href="#">9</a></li>
						<li class="page-item"><a class="page-link" href="#">10</a></li>
						<li class="page-item"><a class="page-link" href="#"
												 aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</main>
		<footer th:replace="~{layout/footer :: footer}"></footer>
	</div>
	<script>
		document.getElementById('addBtn').addEventListener('click',
				function() {
					window.location.href = '/crispy/board-add';
				});

		document.querySelectorAll('tr[data-href]').forEach(row => {
			row.addEventListener('click', function() {
				window.location.href = this.getAttribute('data-href');
			});
		});

		$('tr td').on('click', () => {
			window.location.href = "/crispy/board-detail";
		})
	</script>
</div>
</body>
</html>