<div class="order-doc" th:fragment="stock-order-app">
    <div>
        <div class="top-area">
            <!-- 가맹점 정보 테이블 -->
            <table class="franchise-table">
                <tbody>
                    <tr>
                        <th class="col top-col">가맹점명</th>
                        <!-- 가맹점명 -->
                        <td colspan="3" th:text="${approvalDto.frnName}"></td>
                    </tr>
                    <tr>
                        <th class="col top-col">대표자</th>
                        <!-- 기안자 -->
                        <td th:text="${approvalDto.frnOwner}"></td>

                        <th class="col top-col">전화번호</th>
                        <!-- 전화번호 -->
                        <td th:text="${approvalDto.frnTel}"></td>
                    </tr>
                    <tr>
                        <th class="col top-col">주소</th>
                        <!-- 주소 -->
                        <td colspan="3" th:text="|${approvalDto.frnStreet}, ${approvalDto.frnDetail}|"></td>
                    </tr>
                </tbody>
            </table>

            <!-- 본사(관리자) 결재 서명 테이블 -->
            <table>
                <tr>
                    <th class="col" id="appr">결재</th>
                </tr>

                <tr id="sign-tr">
                    <!-- 결재 이미지 -->
                    <td>
                        <img id="sign-img" alt="서명 이미지"
                             th:src="${approvalDto.apprSign}"
                             th:if="${approvalDto.apprLineStat == 1}">
                        <span th:if="${approvalDto.apprLineStat == 2}">반려</span>
                        <span th:if="${approvalDto.apprLineStat == 0}">본사</span>
                    </td>
                </tr>
            </table>
        </div>
    
        <!-- 발주재고 테이블 -->
        <table class="stock-order-table">
            <tbody>
                <tr>
                    <th class="col">NO</th>
                    <th class="col">카테고리</th>
                    <th class="col">재고명</th>
                    <th class="col">단가</th>
                    <th class="col">수량</th>
                    <th class="col">금액</th>
                </tr>

                <tr th:each="stockOrder, status : ${approvalDto.stockOrderList}">
                    <th class="col" th:text="${status.count}">1</th>
                    
                    <!-- 카테고리 -->
                    <td th:text="${stockOrder.stockCtName}"></td>

                    <!-- 재고명 -->
                    <td th:text="${stockOrder.stockName}"></td>

                    <td>
                        <div class="stock-flex">
                            <!-- 단가 -->
                            <span th:with="formattedPrice=${#numbers.formatDecimal(stockOrder.stockPrice, 0, 'COMMA', 0, 'COMMA')}"
                                  th:text="${formattedPrice}"></span>
                            <span>원</span>
                            <span>&nbsp;/&nbsp;</span>
                            <!-- 단위 -->
                            <span th:text="${stockOrder.stockUnit}"></span>
                        </div>
                    </td>

                    <td>
                        <div class="stock-flex">
                            <!-- 수량 -->
                            <span th:with="formattedOrderCount=${#numbers.formatDecimal(stockOrder.stockOrderCount, 0, 'COMMA', 0, 'COMMA')}"
                                  th:text="${formattedOrderCount}"></span>
                            <span>개</span>
                        </div>
                    </td>

                    <td>
                        <div class="stock-flex">
                            <!-- 금액 -->
                            <span th:with="formattedCost=${#numbers.formatDecimal(stockOrder.stockOrderCost, 0, 'COMMA', 0, 'COMMA')}"
                                  th:text="${formattedCost}"></span>
                            <span>원</span>
                        </div>
                    </td>
                </tr>


                <th:block th:if="${approvalDto.stockOrderList.size() < 10}">
                    <tr th:each="i : ${#numbers.sequence((approvalDto.stockOrderList.size() + 1), 10, 1)}">
                        <th class="col" th:text="${i}"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>

                <tr>
                    <th colspan="3" class="col" id="ls">합계금액</th>
                    <td colspan="4" class="col">
                        <div class="stock-flex">
                            <!-- 합계금액 -->
                            <span th:with="formattedOrderCost=${#numbers.formatDecimal(approvalDto.orderCost, 0, 'COMMA', 0, 'COMMA')}"
                                  th:text="${formattedOrderCost}"></span>
                            <span>원</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div id="doc-cont">
                            <div>위와 같이 발주를 요청합니다.</div>

                            <!-- 기안일 -->
                            <div th:text="${approvalDto.apprDt}"></div>
    
                            <div class="appr-emp">
                                <div>신청인:&nbsp;</div>
    
                                <!-- 기안자 -->
                                <div id="emp-name" th:text="${approvalDto.frnOwner}"></div>
    
                                <div id="emp-sign">
                                    <span>(인)</span>
                                    <!-- 서명 이미지 -->
                                    <img th:src="${approvalDto.empSign}" alt="서명 이미지">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>