<div class="time-off" th:fragment="vacation-app">
    <div>
        <table>
            <tbody th:object="${approvalDto}">
                <tr>
                    <td colspan="5" rowspan="2" id="doc-title">휴가신청서</td>
                    <th rowspan="2" class="col" id="appr">결&nbsp;&nbsp;재</th>
                    <th th:each="apprLineDto : *{apprLineDtoList}" class="col appr-col" th:text="${apprLineDto.posName}"></th>

                </tr>
                <tr>
                    <!-- 결재 이미지 출력 -->
                    <td th:each="apprLineDto : *{apprLineDtoList}">
                        <th:block th:switch="${apprLineDto.apprLineStat}">
                            <span th:case="0" th:text="${apprLineDto.empName}"></span>
                            <img th:case="1" th:src="${apprLineDto.empSign}" class="sign-img" alt="서명 이미지">
                            <th:block th:case="2">반려</th:block>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <th class="col inp-col">성명</th>
                    <!-- 기안자 출력 -->
                    <td colspan="3" th:text="*{empName}"></td>
    
                    <th class="col inp-col">직책</th>
                    <!-- 직책 출력 -->
                    <td colspan="3" class="row" th:text="*{posName}"></td>
                </tr>
                <tr>
                    <th class="col inp-col">주소</th>
                    <!-- 주소 출력 (도로명주소 + 상세주소) -->
                    <td colspan="7" th:text="*{empStreet}"></td>
                </tr>
                <tr>
                    <th class="col inp-col">휴가 기간</th>
                    <td colspan="7">
                        <!-- 휴가 시작일 출력 -->
                        <span th:text="*{timeOffStartDt}"></span>
                        <span>~</span>

                        <!--휴가 종료일 출력 -->
                        <span th:text="*{timeOffEndDt}"></span>
                        <span>(</span>

                        <!-- 휴가 기간 출력 -->
                        <span th:text="*{timeOffPeriod}"></span>
                        <span>일간 )</span>
                    </td>
                </tr>
                <tr>
                    <th class="col inp-col">휴가 사유</th>
                    <!-- 휴가 사유 출력 -->
                    <td colspan="7" th:text="*{timeOffContent}"></td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div id="doc-cont">
                            <div>위 본인은 상기의 사유로 휴가를 신청합니다.</div>
    
                            <!-- 기안일 출력 (2024년 05월 22일 수요일) -->
                            <div th:text="*{apprDt}"></div>
    
                            <div class="appr-emp">
                                <div>신청인:&nbsp;</div>
    
                                <!-- 기안자 출력 -->
                                <div id="emp-name" th:text="*{empName}"></div>
    
                                <div id="emp-sign">
                                    <span>(인)</span>
                                    <!-- 서명 이미지 출력 -->
                                    <img src="" alt="서명 이미지">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div class="attach-file">
            <div>첨부파일</div>
            <!-- 첨부파일 목록 -->
            <div>
                <a href="" download=""></a><!-- <span>,&nbsp;</span> -->
                <a href="" download=""></a>
                <!-- <a th:href="${변경명}" th:dowload="${원본명}" th:text="${원본명}"></a> -->
            </div>
        </div>
    </div>
</div>