<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <!-- 특정 페이지 css -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
	<link href="/css/calendar/calendar.css" rel="stylesheet">   
</head>
<body>

<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <header th:replace="~{layout/navbar :: navbar}"></header>
        <main>
            <div class="mainarea">
                <!-- 내부 내용 -->
                	<div id="calendarOpt">
                		<div id="profile-cal">
                			<img src="/img/anonymous.png" id="profile-img" width="200px" height="200px">
                		</div>
                		<div id="allsche">
						  <input class="form-check-input" type="checkbox" value="allsche" id="allscheChecked" checked onclick="fnClickCheckAll()">
						  <label class="form-check-label" for="allscheChecked">전체보기</label>                		
                		</div>
                		<hr>
                		<div id="shopsche">
						  <input class="form-check-input" type="checkbox" value="shopsche" id="shopscheChecked" checked onclick="fnClickCheckSingle()">
						  <label class="form-check-label" for="shopscheChecked">가맹점 일정</label>                    		
                		</div>
                		<div id="mysche">
						  <input class="form-check-input" type="checkbox" value="mysche" id="myscheChecked" checked onclick="fnClickCheckSingle()">
						  <label class="form-check-label" for="myscheChecked">내 일정</label>                    		
                		</div>
                		<hr>
                		<a href="/crispy/trash" id="trashsche">휴지통</a>
                	</div>
    				<div id='calendar'></div>
                
   				 <!-- Modal -->
   				 <form id="form-modal">
			      <div class="modal fade insertModal" id="myModal">
			        <div class="modal-dialog">
			          <div class="modal-content">
			            <!-- Modal Header -->
			            <div class="modal-header">
			            	<h2 class="modal-title">일정 등록</h2>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		                </div>
			            <!-- Modal body -->
			            <div class="modal-body">
			              <div class="form-group">
			                <label for="sch-title">제목:</label>
			                <input type="textbox" class="form-control" id="sch-title" >
			              </div>
			              <div class="form-group">
			                <label for="sch-content">내용:</label>
			                <input type="textbox" class="form-control" id="sch-content">
			              </div>
			              <div class="form-group">
			                <label for="allDay">일정구분:&nbsp;</label>
							 <div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="notice-or-vac" id="radio-notice" value="notice" checked>
							  <label class="form-check-label" for="radio-notice">공지</label>
							</div>
							 <div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="notice-or-vac" id="radio-mysche" value="mysche">
							  <label class="form-check-label" for="radio-mysche">개인</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="notice-or-vac" id="radio-vac" value="vac">
							  <label class="form-check-label" for="radio-vac">연차</label>
							</div>
			              </div>
			              <div class="form-group" id="vac-type">
						    <label>휴가구분:&nbsp;&nbsp;</label>
							<div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
							  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
							  <label class="btn btn-outline-primary" for="btnradio1">오전</label>
							
							  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
							  <label class="btn btn-outline-primary" for="btnradio2">오후</label>
							</div>
			              </div>
			              <div class="form-group" id="vac-elem">
			                <label for="allDay">휴가 종류:&nbsp;</label>
							 <div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="var-elem-radio" id="vac-all" value="all" checked>
							  <label class="form-check-label" for="vac-all">연차</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="var-elem-radio" id="vac-half" value="half">
							  <label class="form-check-label" for="vac-half">반차</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="var-elem-radio" id="vac-quat" value="quat">
							  <label class="form-check-label" for="vac-quat">반반차</label>
							</div>
			              </div>
			              <div class="form-group-start">
			                <label for="start">시작시간:</label>
			                <select class="form-control" id="start" onchange="">
			                  <option value="09:00" selected>09:00</option>
			                  <option value="09:30">09:30</option>
			                  <option value="10:00">10:00</option>
			                  <option value="10:30">10:30</option>
			                  <option value="11:00">11:00</option>
			                  <option value="11:30">11:30</option>
			                  <option value="12:00">12:00</option>
			                  <option value="12:30">12:30</option>
			                  <option value="13:00">13:00</option>
			                  <option value="13:30">13:30</option>
			                  <option value="14:00">14:00</option>
			                  <option value="14:30">14:30</option>
			                  <option value="15:00">15:00</option>
			                  <option value="15:30">15:30</option>
			                  <option value="16:00">16:00</option>
			                  <option value="16:30">16:30</option>
			                  <option value="17:00">17:00</option>
			                  <option value="17:30">17:30</option>
			                </select>
			              </div>
			              <div class="form-group-end">
			                <label for="end">종료시간:</label>
			                <select class="form-control" id="end">
			                  <option value="09:30">09:30</option>
			                  <option value="10:00">10:00</option>
			                  <option value="10:30">10:30</option>
			                  <option value="11:00">11:00</option>
			                  <option value="11:30">11:30</option>
			                  <option value="12:00">12:00</option>
			                  <option value="12:30">12:30</option>
			                  <option value="13:00">13:00</option>
			                  <option value="13:30">13:30</option>
			                  <option value="14:00">14:00</option>
			                  <option value="14:30">14:30</option>
			                  <option value="15:00">15:00</option>
			                  <option value="15:30">15:30</option>
			                  <option value="16:00">16:00</option>
			                  <option value="16:30">16:30</option>
			                  <option value="17:00">17:00</option>
			                  <option value="17:30">17:30</option>
			                  <option value="18:00">18:00</option>
			                </select>
			              </div>
			            </div>
			            <!-- Modal footer -->
			            <div class="modal-footer">
			            	<button type="button" class="btn btn-primary float-right insertBtn" id="btn-insert" onclick="fnRegistSchedule();">등록</button>
			            	
			            	<button type="button" class="btn btn-primary float-right modifyBtn" id="btn-modify" onclick="fnModifySchedule();">수정</button>
			            	<button type="button" class="btn btn-primary float-right deleteBtn" id="btn-delete" onclick="fnDeleteSchedule();">삭제</button>
			            	
			            	<button type="button" class="btn btn-primary float-right updateBtn" id="btn-update" onclick="fnUpdateSchedule();">확인</button>
			            	<button type="button" class="btn btn-primary float-right cancleBtn" id="btn-cancle" onclick="fnCancleUpdateSchedule();">취소</button>
			            </div>         
			          </div>
			        </div>
			      </div>
			    </form>     
			               
            </div> <!-- mainarea 끝-->
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
    <!-- 특정 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="/js/calendar/calendar.js"></script> 
</div>
</body>
</html>