/* 결재 문서 목록 페이지 */
.franchise-list {
    width: -webkit-fill-available;
    font-size: 1.7rem;
}

/* 페이지 제목 */
.franchise-list h1 {font-size: 2.5rem;}

/* 상단 영역 */
.franchise-list .top-area {
    display: flex;
    justify-content: flex-end;
}

/* 기안자 검색 */
.franchise-list .container-1 {
    width: 240px;
    position: relative;
}

/* 검색 아이콘 */
.franchise-list .container-1 .icon {
    position: absolute;
    left: 15px;
    top: 22px;
    transform: translateY(-50%);
    color: var(--main-color);
    font-size: 14px;
}

/* 검색 창 */
.franchise-list #search {
    width: 240px;
    height: 40px;
    padding-left: 35px;
    font-size: 1.5rem;
}

/* 드롭다운 */
.franchise-list select {
    width: 165px;
    height: 40px;
    font-size: 1.5rem;
}

/* 상단 영역 margin-left */
.franchise-list .m-left {margin-left: 7px;}

/* 문서 목록 테이블 */
.franchise-list table {
    margin-top: 25px;
    text-align: center;
}

/* 기안일 정렬 */
.franchise-list .col-sort {position: relative;}

.franchise-list .fa-sort {
    position: absolute;
    top: 7px;
    right: 163px;
}

/* 데이터 셀 */
.franchise-list td {
    padding: 10px !important;
    /* width: 120px; */
    vertical-align: middle;
}

/* 행 hover */
.franchise-list tbody tr:hover td {
    background-color: rgba(200, 200, 200, 0.2);
    cursor: pointer;
}

/* 페이지네이션 */
.franchise-list .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.franchise-list .page-link {color: var(--main-color);}

.franchise-list .page-link:focus {
    z-index: 3;
    box-shadow: var(--main-color);
    background-color: var(--main-color);
    color: #fff;
    outline: 0;
    opacity: 0.65;
}

.franchise-list .active > .page-link {
    color: var(--bs-pagination-active-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.fs-5 {
    font-size: 1.7rem !important;
}

.form-control {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.form-label {
    font-size: 13px;
    margin-top: 5px;
}

.btn-close {
    background-color: white !important;
    --bs-btn-close-opacity: 0.5;
    font-size: 15px;
}

.create, .modify {
    font-size: 1.2rem;
}

#delete-btn {
    font-size: 15px;
    background-color: #888888 !important;
    border-color: #888888 !important;
}

#modify-btn {
    font-size: 15px;
}



