/* 스텝 인디케이터 */
.container {
    width: 350px;
    margin: 0 auto;
}

.step-indicator {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.step {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.step-indicator .step-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #c2c2c2;
    text-align: center;
    color: #ffffff;
    position: relative;
    line-height: 50px;
    font-size: 20px;
}

.step.active .step-icon {
    background: var(--main-color);
}

.step p {
    text-align: center;
    position: absolute;
    bottom: -60px;
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: bold;
}

.step.active p {
    color: var(--main-color);
}

.step.step2 p {
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
}

.indicator-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--main-color) 50%, #c2c2c2 50%);
    flex: 1;
}

@media screen and (max-width: 500px) {
    .step p {
        font-size: 11px;
        bottom: -20px;
    }
}

.franchise input, button, label {
    font-size: 1.5rem;
}

.franchise input {
    width: 250px;
}

.form-control {
    font-size: 1.5rem !important;
}

.franchise .frn-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.franchise .frn-detail-wrap .frn-info-wrap {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.franchise .frn-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;
}

.franchise .frn-detail-wrap .info-wrap {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-wrap div {
    margin-top: 10px;
}

.frn-reg-div {
    margin-right: 50px;
}

.img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-position div {
    margin-top: 10px;
}

.franchise-place {
    width: 200px;
}

.employee-role {
    width: 200px;
    display: flex;
    align-items: center;
}

.frn-container .frn-info-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frn-container .frn-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#next-button {
    width: 250px;
    border-radius: 7px;
    padding: 5px 15px;
    border: 0;
    margin-top: 20px;
}

.frn-info-form img {
    float: right;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border: 1px solid #e6e7eb;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.frn-info-form .frn-profile > div:first-child {position: relative;}

/* 프로필 이미지 hover */
.frn-info-form .frn-img:hover {filter: brightness(50%);}
.frn-info-form .frn-img:hover + .update-img {display: block;}

/* 프로필 이미지 변경 텍스트 */
.frn-info-form .update-img {
    display: none;
    position: absolute;
    top: 23%;
    color: #fff;
}

.franchise .address-container {
    width: 100%;
    display: flex;
}

.franchise .address-container .change-address-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 50px;
}

.franchise .address-container .change-address-container button {
    width: 100px;
    border-radius: 7px;
    padding: 5px 10px;
    border: 0;
}

.franchise .frn-register-form .address-wrap {
    display: flex;
    flex-direction: column;
}

.franchise .frn-register-form .address-wrap div:nth-child(2) {
    width: 100%;
    display: flex;
    margin-top: 0;
}

.franchise .frn-info-wrap .address-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.franchise .frn-info-wrap .address-wrap div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.franchise .address-wrap .zipcode {
    width: 150px !important;
}
.franchise .address-wrap  input{
    width: 300px;
}


.franchise .address-wrap button {
    border-radius: 7px;
    padding: 5px 10px;
    border: 0;
    margin-left: 10px;
}

.franchise .address-wrap .search-address {
    width: 100px !important;
    background-color: var(--sub-color) !important;
}

.franchise .detail-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 0 !important;
    margin-bottom: 10px;
}

.franchise .detail-wrap button {
    position: relative;
    right: -40px;
}

.franchise .zipcode {
    width: 100px !important;
}

.franchise .operating-time {
    display: flex;
    align-items: center;
}

.franchise .operating-time input,
.franchise .operating-time select{
    width: 70px;
    text-align: center;
}
.frn-modify-btn {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.frn-modify-btn div:first-child {
    margin-left: 30px;
}
.franchise .operating-time #frnEndTime {
    margin-left: 5px;
}

.franchise .frn-modify-btn button{
    width: 70px;
    border-radius: 7px;
    padding: 5px 15px;
    border: 0;
}

.franchise .btn-change-address {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 0;
    text-align: center; /* 텍스트를 가로 방향 중앙으로 정렬 */
    line-height: 22px;
}

.franchise .frn-wrap .file-input {display: none;}
.franchise .frn-detail-wrap .file-input {display: none;}

.franchise .frn-img{
    float: right;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid #e6e7eb;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.franchise .frn-info {
    display: flex;
    font-size: 1.5rem;
}

.franchise .frn-info hr {
    width: 420px;
    margin-left: 10px;
}

.franchise .btn-save-profile {
    align-self: center;
    border: 0;
    padding: 5px 25px;
    width: 150px;
    border-radius: 7px;
}

#btn-frn-register {
    font-size: 1.5rem;
    margin-top: 20px;
    width: 250px;
}