<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('비밀번호 변경')}"></th:block>
    <link href="/css/employee/change-pw.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="change-pw-container">
        <div class="change-password-wrap">
            <h1 class="mb-5">변경하실 비밀번호를 입력해 주세요.</h1>
            <form id="passwordForm">
                <input type="text" class="empId" th:value="${empId}">

                <!-- 현재 비밀번호 -->
                <div class="col-12">
                    <label class="col-form-label">현재 비밀번호</label>
                    <input type="password" class="form-control" id="current-pw" placeholder="********">
                    <div class="error-message" id="invalidCurrentPassword-error" style="display: none;"></div>
                </div>

                <!-- 신규 비밀번호 -->
                <div class="col-12 pw-mg">
                    <label for="new-pw" class="col-form-label">신규 비밀번호</label>
                    <input type="password" class="form-control" id="new-pw" placeholder="최소 8자 이상(알파벳, 숫자 필수)">
                    <div class="error-message" id="sameAsOld-error" style="display: none;"></div>
                    <div class="error-message" id="newPassword-error" style="display: none;"></div>
                </div>

                <!-- 신규 비밀번호 확인 -->
                <div class="col-12 pw-mg">
                    <label class="col-form-label">신규 비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirm-pw">
                    <div class="error-message" id="NotMatchPassword-error" style="display: none;"></div>
                </div>
                <button type="submit" class="w-100 btn btn-primary btn-lg mt-4">비밀번호 변경</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/employee.js"></script>
</body>
</html>