<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <!-- 특정 페이지 css -->
    <link href="/css/employee/employee.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
</head>
<body>
<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <div class="employee-profile">
                <div id="employee-profile" class="container employee-profile-container">
                    <div class="emp-wrap">
                        <div>
                            <div class="employee-info-header">
                                <!-- 프로필 이미지 저장 폼 -->
                                <form class="employee-profile-form" id="profile-image-form" method="post"
                                      enctype="multipart/form-data" autocomplete="off">
                                    <div class="emp-profile">
                                        <img th:src="${employee.empProfile != null ? employee.empProfile : '/img/anonymous.png'}" class="profile-img">
                                        <span class="update-img" th:text="${employee.empProfile != null ? '사진 변경' : '사진 등록'}"></span>
                                        <input type="file" id="profile-file-input" name="empProfile"
                                               class="form-control file-input" accept="image/png, image/jpeg, image/webp">
                                    </div>
                                    <button type="button" id="btn-update-profile" class="btn-save-profile">사진 저장</button>
                                </form>
                                <!-- 프로필 상단 정보  -->
                                <div class="d-flex flex-column justify-content-center ms-4 mb-5">
                                    <input type="hidden" th:value="${employee.empId}" class="empId">
                                    <input type="hidden" th:value="${employee.empNo}" class="empNo">
                                    <input type="hidden" th:value="${employee.empName}" class="empName">
                                    <span>지점: <span th:text="${employee.frnName}" class="frnName"></span></span>
                                    <span>직책: <span th:text="${employee.posName}" class="posName"></span></span>
                                    <span>이름: <span th:text="${employee.empName}" class="empName"></span></span>
                                </div>
                                <div class="pw-change-btn">
                                    <!-- 결재 서명 -->
                                    <div class="sign-img-container">
                                        <img th:if="${employee.empSign != null}" th:src="${employee.empSign}" class="sign-img">
                                    </div>
                                    <!-- 비밀번호 변경-->
                                    <button type="button" id="add-approval">결재 서명 추가</button>
                                    <a href="/crispy/employee/changeEmpPw" role="button" class="change-password">
                                        비밀번호 변경
                                    </a>
                                </div>
                            </div>
                            <div>
                                <!-- 구분선 -->
                                <div class="emp-info">
                                    <hr>
                                    <span>직원정보</span>
                                    <hr>
                                </div>
                                <!-- 프로필 본문 -->
                                <form class="employee-profile-form" method="post" autocomplete="off">
                                    <div class="info-wrap">
                                        <!-- 이메일 -->
                                        <div class="emp-modify-btn">
                                            <div>
                                                <label for="emp-profile-empEmail" class="form-label">이메일</label>
                                                <input type="email" id="emp-profile-empEmail" name="empEmail" class="form-control empEmail" placeholder="이메일"
                                                       autocomplete="on" th:value="${employee.empEmail}" readonly>
                                                <div class="error-message empEmail-error" style="display: none;"></div>
                                            </div>
                                            <button type="button" class="btn-edit-empEmail">수정</button>
                                            <button type="button" class="btn-change-empEmail" style="display: none;">변경</button>
                                        </div>
                                        <!-- 전화번호 -->
                                        <div class="emp-modify-btn">
                                            <div>
                                                <label for="emp-profile-empPhone" class="form-label">전화번호</label>
                                                <input type="text" class="form-control empPhone" id="emp-profile-empPhone"
                                                       name="empPhone" placeholder="- 제외하고 입력해주세요." th:value="${employee.empPhone}" readonly>
                                                <div class="error-message empPhone-error" style="display: none;"></div>
                                            </div>
                                            <button type="button" class="btn-edit-empPhone">수정</button>
                                            <button type="button" class="btn-change-empPhone" style="display: none;">변경</button>
                                        </div>
                                        <!-- 주소 -->
                                        <div class="address-container">
                                            <div class="address-wrap">
                                                <label class="form-label">주소</label>
                                                <div>
                                                    <div>
                                                        <input type="text" id="emp-profile-empZip" name="empZip"
                                                               class="form-control zipcode mb-2" placeholder="우편번호"
                                                               th:value="${employee.empZip}" readonly>
                                                        <div class="ms-0">
                                                            <button type="button" class="mt-0 ms-3 search-address" onclick="execPostCode(false)" disabled>
                                                                주소 찾기
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input type="text" id="emp-profile-empStreet" name="empStreet"
                                                           class="form-control street-address mb-2" placeholder="도로명주소"
                                                           th:value="${employee.empStreet}" readonly>
                                                    <div class="detail-wrap">
                                                        <input type="text" id="emp-profile-empDetail" name="empDetail"
                                                               class="form-control detail-address mb-2" placeholder="상세주소"
                                                               th:value="${employee.empDetail}" readonly>
                                                    </div>
                                                    <div class="error-message empZip-error" style="display: none;"></div>
                                                    <div class="error-message empStreet-error" style="display: none;"></div>
                                                    <div class="error-message empDetail-error" style="display: none;"></div>
                                                </div>
                                            </div>
                                            <div class="change-address-container">
                                                <button type="button" class="btn-edit-address">수정</button>
                                                <button type="button" class="btn-change-address" style="display: none;">주소 변경</button>
                                            </div>
                                        </div>
                                        <!-- 결재 서명 모달 -->
                                        <div id="signature-modal" style="display:none;">
                                            <div class="modal-content">
                                                <span class="close">❌</span>
                                                <h2>결재 서명 추가</h2>
                                                <canvas id="signature-pad" width="400" height="200" style="border: 1px solid #ccc;"></canvas>
                                                <button type="button" id="save-signature">저장</button>
                                                <button id="clear-signature">지우기</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 프로필 본문 수정 버튼 -->
                                    <div class="form-buttons">
                                        <button type="button" class="btn-edit-form">정보 수정</button>
                                        <button type="button" class="btn-save-form" style="display: none;">수정 완료</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
    <!-- 특정 JS -->
    <script src="/js/address.js"></script>
    <script src="/js/employee/signaturePad.js"></script>
    <script src="/js/employee/employee.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>
</body>
</html>
