<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('비밀번호 찾기')}"></th:block>
    <link href="/css/employee/find-user.css" rel="stylesheet">
    <link href="/css/common/common.css" rel="stylesheet">
</head>
<body>
<div class="find-container">
    <div>
        <img src="/img/crispy2.png">
        <form class="find-form" th:action="@{/crispy/employee/find-emp-pw}" method="post" autocomplete="off">
            <h1 class="find-header">비밀번호 찾기</h1>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자 ID 또는 비밀번호를 확인해주세요.
                </div>
            </div>
            <div class="find-emp-id">
                <div class="mb-3">
                    <label class="form-label">성함</label>
                    <input type="text" class="form-control emp-name" id="find-username-emp-name" name="empName"
                           placeholder="성함을 입력하세요" autocomplete="on">
                    <div class="error-message empName-error" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">아이디</label>
                    <input type="text" class="form-control emp-id" name="empId"
                           placeholder="아이디를 입력하세요">
                    <div class="error-message empId-error" style="display: none;"></div>
                </div>
                <div class="email-wrap mb-3">
                    <div>
                        <label for="find-username-email" class="form-label">이메일</label>
                        <input type="email" id="find-username-email" name="empEmail"
                               class="form-control emp-email" placeholder="이메일을 입력하세요" autocomplete="on">
                        <div class="error-message empEmail-error" style="display: none;"></div>
                    </div>
                    <div class="col-4 d-flex align-items-end ms-2">
                        <button class="btn email-validate-btn" th:data-action="verify-user" type="button">인증 요청</button>
                    </div>
                </div>
                <div class="mb-3" id="verify-code-div" style="display: none">
                    <div class="verify-email mb-4">
                        <div class="mt-2">
                            <input type="text" class="form-control verify-code"
                                   id="find-username-verify-code" name="verifyCode" placeholder="인증번호">
                            <div class="error-message verifyCode-error" style="display: none"></div>
                        </div>
                        <div class="col-4 d-flex align-items-end ms-2">
                            <button class="btn check-verify-code" type="button">확인</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn find-btn" type="submit">비밀번호 찾기</button>
        </form>
    </div>
</div>
<script type="module" src="/js/emailVerification.js"></script>
</body>
</html>