<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('아이디 찾기')}"></th:block>
    <link href="/css/employee/find-user.css" rel="stylesheet">
</head>
<body>
    <div class="find-container">
        <div class="my-3">
            <form class="find-form" th:action="@{/crispy/employee/find/username}" method="post" autocomplete="off">
                <a class="find-header" href="/"><h1>아이디 찾기</h1></a>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자 ID 또는 비밀번호를 확인해주세요.
                    </div>
                </div>
                <div class="find-emp-id">
                    <div class="mb-3">
                        <label class="form-label">성함</label>
                        <input type="text" class="form-control emp-name" id="find-username-emp-name" name="empName"
                               placeholder="성함을 입력하세요" autocomplete="on">
                    </div>
                    <div class="email-wrap mb-3">
                        <div>
                            <label for="find-username-email" class="form-label">이메일</label>
                            <input type="email" id="find-username-email" name="empEmail" class="form-control email" placeholder="이메일"
                                   autocomplete="on">
                            <div class="error-message email-error" style="display: none;"></div>
                        </div>
                        <div class="col-4 d-flex align-items-end ms-2">
                            <button class="btn emailValidateBtn" th:data-action="verify-user" type="button">인증 요청</button>
                        </div>
                    </div>
                    <div class="mb-3" id="verificationCodeDiv" style="display: none">
                        <div class="verify-email">
                            <div class="mt-2">
                                <input type="text" class="form-control verify-code" id="find-username-verify-code" placeholder="인증번호">
                                <div class="error-message verificationCode-error" style="display: none"></div>
                            </div>
                            <div class="col-4 d-flex align-items-end ms-2">
                                <button class="btn mb-3 checkVerificationCode" type="button">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn find-btn" type="submit">아이디 찾기</button>
            </form>
        </div>
    </div>
</body>
</html>