:root {
	/* rem 단위 사용 시 기본 설정 */
	font-size: 10px;
	/* 62.5% */
	--main-color: #FD8340;
}

* {
	font-family: 'GmarketSansMedium', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style-type: none;
}

button {
	background-color: var(--main-color) !important;
	border-color: var(--main-color) !important;
}

.form-check-input:checked {
	background-color: var(--main-color) !important;
	border-color: var(--main-color) !important;
}

.crispy-container {
	display: flex;
}

aside {
	height: 100vh;
	width: 280px;
}

.crispy-container>div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	height: 65px;
}

main {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	/* max-width: 1300px; */
	/* max-height: 1000px; */
}

main>div {
	display: flex;
	max-width: 1300px;
	height: 100%;
}

footer {
	text-align: center;
	height: 60px;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}