.crispy-container {
    display: flex;
}

aside {
    height: 100vh;
    width: 280px;
}

.crispy-container>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* max-width: 1300px; */
    /* max-height: 1000px; */
}

main>div {
    display: flex;
    width: 500px;
    /* max-width: 1300px; */
    height: 100%;
}

footer {
    position: relative; /* 기존의 position: fixed;를 relative로 변경 */
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px 0;
    background: #fff;
    text-align: center;
    font-size: 14px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 1px solid rgba(208, 209, 214, 0.5);
    margin-top: 15px;
}

footer > div {
    margin-top: 10px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src:
            url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
            format('woff');
    font-weight: normal;
    font-style: normal;
}