header {
	height: 65px;
	border-bottom: 1px solid #dbdbdb;
	/* 기존 border-color 스타일 변경 */
	background: #fff;
}

.nav-img {
	width: 40px;
	height: 40px;
	border: 1px solid #e6e7eb;
	border-radius: 100%;
	object-fit: cover;
	cursor: pointer;
}

.notification {
	cursor: pointer;
}

.nav-profile-ui {
	display: flex;
}

.nav-welcome {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	color: black;
}

.nav-welcome span {
	margin-left: 3px;
}

.nav-username {
	color: #6881C4;
	cursor: pointer;
}

.my-menu-list {
	width: 150px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.my-menu-list a {
	color: black;
}

.my-menu-list a:hover {
	color: var(--main-color);
}

.my-menu-list hr {
	margin: 0 !important;
	color: #bfb7b7;
}

.my-menu-item {
	padding: 1rem;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

#my-profile {
	cursor: pointer;
}

#my-profile:hover {
	background-color: rgba(230, 231, 235, 0.5);
}

.my-menu-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}

.my-menu-info a {
	color: var(--main-color);
}

.my-menu-info p {
	margin-bottom: 0;
	font-weight: bold;
}

.profile-menu-content {
	display: none; /* 초기에 드롭다운 숨김 */
	position: absolute; /* 절대 위치 지정 */
	top: 100%;
	right: 0; /* 오른쪽 정렬 */
	z-index: 1000; /* 다른 요소 위에 오도록 z-index 설정 */
	background-color: #fff; /* 배경색 설정 */
	border-radius: 5px; /* 테두리 둥글게 설정 */
	font-size: 1.15rem;
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15)
}

.notification-menu-content {
	display: none; /* 초기에 드롭다운 숨김 */
	position: absolute; /* 절대 위치 지정 */
	top: 100%;
	right: 70px; /* 오른쪽 정렬 */
	z-index: 1000; /* 다른 요소 위에 오도록 z-index 설정 */
	background-color: #fff; /* 배경색 설정 */
	border-radius: 5px; /* 테두리 둥글게 설정 */
	font-size: 1.15rem;
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15)
}

.notification-menu-content ul{
	width: 220px;
}

.fa-bell {
	font-size: 2.7rem;
}

.navbar-nav {
	align-items: center
}

.notification-badge {
	position: absolute;
	top: 4px;
	right: 50px;
	padding: 2px 6px;
	border-radius: 50%;
	background-color: red;
	color: white;
	font-size: 12px;
}