<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
<!-- 특정 페이지 css -->
<link rel="stylesheet" href="/css/common/index.css" type="text/css">

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<div class="crispy-container">
		<aside th:replace="~{layout/sidebar :: sidebar}"></aside>
		<div>
			<main>
				<div class="mainarea">
					<!-- 내부 내용 -->
					<div class="weather">
						<div id="weather-icon"></div>
						<div id="temp"></div>
						<div id="weather-desc"></div>
						<div id="city"></div>
					</div>
					<div class="maintop">
						<div class="area1">
							<div class="area1-info">
								<div id="work-start">출근시간 : 00:00:00</div>
								<div id="work-fin">퇴근시간 : 00:00:00</div>
								<div class="progress">
									<div class="progress-bar overflow-visible progress-bar-striped bg-danger progress-bar-animated"
										role="progressbar" style="width: 10%" aria-valuenow=""aria-valuemin="0" aria-valuemax="100">
									</div>
									<span class="progress-text"></span>
								</div>
								<div id="work-time">근무시간 : 00:00:00</div>
								<div class="area1-inoutBtn">
									<div class="btn-workfin">
										<button type="button" class="btn btn-outline-primary btn-lg"
											id="btn-work" onclick="fnClickWork()">출근</button>
										<button type="button" class="btn btn-outline-danger btn-lg"
											id="btn-finish" onclick="fnClickFin()" disabled>퇴근</button>
									</div>
								</div>
							</div>
						</div>
						<div class="area2">
						</div>
						<div class="area3">
						</div>
					</div>
					<div class="mainbottom">
						<div class="area4">
							<div style="width: 790px; height: 435px;">
								<canvas id="myChart"></canvas>
							</div>
						</div>
						<div class="area5">
						</div>
					</div>
			</div>
    </main>
    <footer th:replace="~{layout/footer :: footer}"></footer>
  </div>
  <!-- 특정 JS -->
	<script src="/js/common/index.js"></script> 
  </div>
</body>
</html>