<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 임시 비밀번호 안내</title>
    <style>

        * {
            font-family: 'GmarketSansMedium', sans-serif;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .container {
            width: 600px;
            margin: auto;
            padding: 20px 10px 10px;
            border: 1px solid #bdbdbd;
        }

        strong {
            color: #fd8340;
        }

    </style>
</head>
<body>
<div class="container">
    <p>안녕하세요</p>
    <p>임시 비밀번호는 <strong th:text="${tempPassword}">525252</strong> 입니다.</p>
    <p>로그인 후 반드시 비밀번호를 변경해 주세요.</p>
</div>
</body>
</html>