<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <!-- 특정 페이지 css -->
    <link href="/css/employee/employee.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">
</head>
<body>

<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <header th:replace="~{layout/navbar :: navbar}"></header>
        <main>
            <div>
                <div class="container frn-register-container">
                    <div class="frn-wrap">
                        <div>
                            <div class="d-flex mb-3">
                                <form class="frn-register-form" id="frn-register" method="post" enctype="multipart/form-data"
                                      autocomplete="off">
                                    <div class="img-wrap frn-profile">
                                        <img src="/img/anonymous.png" class="profile-img" data-src="/img/anonymous.png">
                                        <div class="update-img" id="update-img">등록</div>
                                        <input type="file" id="signup-file-input" name="profileImage"
                                               class="form-control file-input">
                                    </div>
                                </form>
                                <div class="d-flex flex-column justify-content-center ms-4">
                                    <span>직책: <span th:text="${employee.posName}"></span></span>
                                    <span>이름: <span th:text="${employee.empName}">김구디</span></span>
                                </div>
                            </div>
                            <hr>
                                <div>
                                    <div class="info-wrap">
                                        <div>
                                            <label class="form-label">비밀번호 변경</label>
                                            <a href="/member/change-password" role="button" class="btn btn-primary">
                                                비밀번호 변경
                                            </a>
                                        </div>
                                        <div class="frn-modify-btn">
                                            <div>
                                                <label for="signup-empEmail" class="form-label">이메일</label>
                                                <input type="email" id="signup-empEmail" name="empEmail" class="form-control" placeholder="이메일"
                                                       autocomplete="on" th:value="${employee.empEmail}">
                                                <div class="error-message" id="empEmail-error" style="display: none;"></div>
                                            </div>
                                            <button>변경</button>
                                        </div>
                                        <div class="frn-modify-btn">
                                            <div>
                                                <label for="frn-frnTel" class="form-label">전화번호</label>
                                                <input type="text" class="form-control frnTel" id="frn-frnTel"
                                                       name="frnTel" placeholder="- 제외하고 입력해주세요." th:value="${employee.empPhone}">
                                                <div class="error-message" id="frnTel-error" style="display: none;"></div>
                                            </div>
                                            <button>변경</button>
                                        </div>
                                        <div class="frn-modify-btn">
                                            <div>
                                                <label for="frn-frnTel" class="form-label">직책</label>
                                                <input type="text" class="form-control frnTel" id="frn-frnTel"
                                                       name="frnTel" placeholder="- 제외하고 입력해주세요." th:value="${employee.posName}">
                                                <div class="error-message" id="frnTel-error" style="display: none;"></div>
                                            </div>
                                            <button>변경</button>
                                        </div>
                                        <div>
                                            <div class="address-wrap">
                                                <label>주소</label>
                                                <div>
                                                    <input type="text" id="frn-frnZip" name="frnZip"
                                                           class="form-control frnZip" placeholder="우편번호">
                                                    <div>
                                                        <button type="button" class="mt-0 search-address"
                                                                onclick="execPostCode(false)">
                                                            주소 찾기
                                                        </button>
                                                    </div>
                                                </div>
                                                <input type="text" id="frn-frnStreet" name="frnStreet"
                                                       class="form-control street-address" placeholder="도로명주소">
                                                <input type="text" id="frn-frnDetail" name="frnDetail"
                                                       class="form-control detail-address" placeholder="상세주소">
                                            </div>
                                            <button class="btn-change-address">주소 변경</button>
                                        </div>
                                        <button id="sign-approval">가입 승인</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
    <!-- 특정 JS -->
</div>
</body>
</html>