<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link href="/css/employee/employees.css" rel="stylesheet">
</head>
<body>

<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <header th:replace="~{layout/navbar :: navbar}"></header>
        <main>
            <div class="employees-container">
                <input type="hidden" id="employees-frnNo" th:value="${frnNo}">
                <div class="mt-4">
                    <h1>직원 관리</h1>
                </div>
                <hr>
                <div class="employee-register">
                    <a role="button" href="/crispy/owner/employee/register" class="btn-employee-register">직원 등록</a>
                    <a role="button" href="/crispy/owner/employee/register" class="btn-approve-registration">가입 신청</a>
                </div>
                <div class="employee-wrap">
                    <div class="employee-search">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="검색" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox"></th>
                        <th scope="col">사원번호</th>
                        <th scope="col">이름</th>
                        <th scope="col" class="id-column">아이디</th>
                        <th scope="col">지점명</th>
                        <th scope="col">직책</th>
                        <th scope="col">핸드폰번호</th>
                        <th scope="col">상태</th>
                        <th scope="col">수정 / 삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 여기에 JavaScript로 동적으로 행을 추가합니다. -->
                    </tbody>
                </table>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
    <!-- 특정 JS -->
    <script src="/js/owner.js"></script>
</div>
</body>
</html>
