<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link href="/css/employee/employee-register.css" rel="stylesheet">
</head>
<body>

<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <header th:replace="~{layout/navbar :: navbar}"></header>
        <main>
            <div class="emp-register">
                <h1 class="emp-reg-title">직원 등록</h1>
                <div class="container my-3 emp-register-container">
                    <div class="emp-info">
                        <div>
                            <form class="emp-reg-form" id="emp-register" method="post" autocomplete="off">
                                <div>
                                    <div class="info-wrap">
                                        <div>
                                            <label for="emp-register-empId" class="form-label">직원 아이디</label>
                                            <input type="text" id="emp-register-empId" name="empId" class="form-control empId" placeholder="아이디">
                                            <div class="error-message empId-error" style="display: none;"></div>
                                        </div>
                                        <div>
                                            <label for="emp-register-empName" class="form-label">성함</label>
                                            <input type="text" id="emp-register-empName" name="empName"
                                                   class="form-control empName" placeholder="성함을 입력하세요.">
                                            <div class="error-message empName-error" style="display: none;"></div>
                                        </div>
                                        <div>
                                            <label for="emp-register-empPhone" class="form-label">휴대전화</label>
                                            <input type="text" class="form-control empPhone"
                                                   id="emp-register-empPhone" placeholder="- 제외하고 입력해주세요.">
                                            <div class="error-message empPhone-error" style="display: none;"></div>
                                        </div>
                                        <div>
                                            <label for="emp-register-empInDt" class="form-label">입사일</label>
                                            <input type="date" class="form-control empInDt" name="empInDt"
                                                   id="emp-register-empInDt" placeholder="연도. 월. 일.">
                                        </div>
                                        <div class="mt-0">
                                            <div>
                                                <label for="emp-register-empEmail" class="form-label">이메일</label>
                                                <input type="email" id="emp-register-empEmail" name="empEmail" class="form-control empEmail"
                                                       placeholder="이메일" autocomplete="on">
                                                <div class="error-message empEmail-error" id="empEmail-error" style="display: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employee-position">
                                        <div class="employee-role">
                                            <label>직책</label>
                                            <div class="d-flex">
                                                <div class="d-flex mt-0">
                                                    <input type="radio" id="emp-register-manager" class="manager" name="posNo" value="1">
                                                    <label for="emp-register-manager">매니저</label>
                                                </div>
                                                <div class="d-flex mt-0 ms-3">
                                                    <input type="radio" id="emp-register-employee" class="employee" name="posNo" value="2" checked>
                                                    <label for="emp-register-employee">직원</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="mt-4 mb-3" id="btn-emp-register">직원등록</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
    <!-- 특정 JS -->
    <script src="/js/employee/empRegister.js"></script>
</div>
</body>
</html>