<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('Crispy')}"></th:block>
    <link href="/css/employee/employees.css" rel="stylesheet">
</head>
<body>

<div class="crispy-container">
    <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div>
        <main>
            <!-- 직원 관리 (리스트) -->
            <div class="employees">
                <input type="hidden" id="employees-frnNo" th:value="${frnNo}">
                <div>
                    <h1>직원 관리</h1>
                </div>
                <div class="employees-wrap">
                    <!-- 상단 버튼 -->
                    <div class="employee-register">
                        <a role="button" href="/crispy/owner/employee/register" class="btn-employee-register">직원 등록</a>
                        <button id="btn-delete-selected">선택 삭제</button>
                    </div>
                    <!-- 직책 / 재직 상태 검색 셀렉트박스 -->
                    <div>
                        <label for="search-role">직책:</label>
                        <select id="search-role">
                            <option value="">전체</option>
                            <option value="1">매니저</option>
                            <option value="2">직원</option>
                        </select>

                        <label for="search-status">상태:</label>
                        <select id="search-status">
                            <option value="">전체</option>
                            <option value="0">재직</option>
                            <option value="1">휴직</option>
                            <option value="2">퇴직</option>
                        </select>
                    </div>
                    <!-- 직원 검색 -->
                    <div class="employee-search">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" class="form-control" id="search" placeholder="검색" />
                    </div>

                </div>
                <!-- 테이블 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" name="employee-checkbox"></th>
                        <th scope="col">사원번호</th>
                        <th scope="col">이름</th>
                        <th scope="col" class="id-column">아이디</th>
                        <th scope="col">지점명</th>
                        <th scope="col">
                            <span>직책</span>
                            <i class="fa-solid fa-sort" id="stock-name-sort"></i>
                        </th>
                        <th scope="col">핸드폰번호</th>
                        <th scope="col">
                            <span>상태</span>
                            <i class="fa-solid fa-sort" id="is-count-sort"></i>
                        </th>
                        <th scope="col">수정 / 삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 여기에 JavaScript로 동적으로 행을 추가합니다. -->
                    </tbody>
                </table>
            </div>
        </main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
    <!-- 특정 JS -->
    <script src="/js/owner.js"></script>
</div>
</body>
</html>
