/* 화면 전환 */
.d-none {display: none;}

/* 휴가, 휴직 신청 페이지 */
.time-off-appr {
    width: -webkit-fill-available;
    font-size: 1.7rem;
}

/* 페이지 제목 */
.time-off-appr h1 {font-size: 2.5rem;}

/* 버튼 공통 CSS */
.time-off-appr button {
    height: 40px;
    margin-left: 7px;
    font-size: 1.5rem;
}

/* 상단 영역 */
.time-off-appr .top-area {
    display: flex;
    justify-content: flex-end;
}

/* 문서 선택 */
.time-off-appr select {
    width: 165px;
    margin-bottom: 0 !important;
    font-size: 1.5rem;
}

/* 임시저장 내용 불러오기 */
.time-off-appr #temp-content {
    width: 200px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 상단 영역 margin-left */
.time-off-appr .m-left {margin-left: 7px;}

/* 문서 작성 form */
.time-off-appr form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.time-off-appr .note-editor {width: 1000px;}

/* 에디터 상단 버튼 */
.time-off-appr .note-toolbar button {
    color: initial !important;
    background-color: #fff !important;
    border-color: #ddd !important;
}
.time-off-appr .note-editable {
    height: 785px !important;
    padding: 50px !important;
}

/* 하단 버튼 */
.time-off-appr .bottom-btn {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* 하단 우측 버튼 */
.time-off-appr .bottom-btn > div {display: flex;}

.time-off-appr .bottom-btn button {width: 70px;}

/* 임시저장 */
.time-off-appr #temp {
    width: 100px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 취소 */
.time-off-appr #cancel-1st {
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 결재선 선택 페이지 */
.appr-line {
    width: -webkit-fill-available;
    font-size: 1.7rem;
}

/* 페이지 제목 */
.appr-line h1 {font-size: 2.5rem;}

/* 메인 영역 */
.appr-line .main-area {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.appr-line .main-area > div {padding: 20px;}

/* 결재선 박스 */
.appr-line .tree-box {
    width: 250px;
    border-radius: 7px;
}

/* 결재선 */
.appr-line #tree {
    border: 1px solid var(--main-color);
}

/* 결재선 선택 */
.appr-line #select {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 선택 아이콘 */
.appr-line svg {width: 12px;}

/* 선택된 결재선 */
.appr-line #select-tree {
    background-color: rgba(200, 200, 200, 0.2);
}

/* 선택된 결재선 목록 중 클릭된 요소 */
.appr-line #select-tree .selected {
    background-color: #beebff;
}

.appr-line .bottom-area {
    display: flex;
    justify-content: center;
}

/* 하단 버튼 */
.appr-line .bottom-btn {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
}

/* 버튼 공통 CSS */
.appr-line button {
    height: 40px;
    font-size: 1.5rem;
}

/* 뒤로가기 */
.appr-line #rollback {
    width: 100px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 취소 */
.appr-line #cancel-2nd {
    width: 70px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 신청하기 */
.appr-line #request {width: 100px;}