@charset "EUC-KR";
.pagination {
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-left: 30rem;
    
}

.pagination .page-item {
    display: inline-block;
}

/* 버튼 활성화 */
.pagination a.active {
    background-color: var(--main-color);
    color: white;
}

/* 버튼 비활성화 */
.pagination a.disabled {
	pointer-events: none;
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #dee2e6;
    opacity: 0.5;
}

.pagination .page-link {
    padding: 0.5rem 0.75rem;
    border: 1px solid #dee2e6;
    color: #1679AB;
    background-color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 15px;
}
