<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.admin.mapper.AdminMapper">
    <insert id="insertAdmin" parameterType="AdminDto">
        <selectKey keyProperty="adminNo" resultType="int" order="BEFORE">
            SELECT ADMIN_SEQ.NEXTVAL
            FROM DUAL
        </selectKey>
        INSERT INTO ADMIN_T (
              ADMIN_NO
            , ADMIN_ID
            , ADMIN_PW
        ) VALUES (
              #{adminNo}
            , #{adminId}
            , #{adminPw})
    </insert>

    <select id="selectAdmin" resultType="AdminDto">
            SELECT A.ADMIN_NO, A.ADMIN_ID, A.ADMIN_PW
              FROM ADMIN_T A
             WHERE 1 = 1
               AND A.ADMIN_ID = #{adminId}
    </select>

    <update id="updateRefreshToken">
        UPDATE ADMIN_T A
           SET A.REFRESH_TOKEN = #{refreshToken}
         WHERE 1 = 1
           AND A.ADMIN_NO = #{adminNo}
    </update>

    <update id="removeRefreshToken">
        UPDATE ADMIN_T A
        SET A.REFRESH_TOKEN = null
        WHERE 1 = 1
          AND A.ADMIN_NO = #{adminNo}
    </update>
</mapper>
