<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.admin.mapper.AdminMapper">
    <insert id="insertAdmin" parameterType="AdminDto">
        <selectKey keyProperty="adminNo" resultType="int" order="BEFORE">
            SELECT SEQ_ADMIN_T.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO ADMIN_T (ADMIN_NO, ADMIN_ID, ADMIN_PW)
        VALUES (#{adminNo}, #{adminId}, #{adminPw})
    </insert>
</mapper>
