<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.approval.mapper.ApprovalMapper">

    <!-- 휴가/휴직 신청서 상세 -->
    <resultMap id="apprLineResultMap" type="ApprovalDto">
        <id property="apprNo" column="APPR_NO"/>
        <collection property="apprLineDtoList"
                    select="getDetailApprLine"
                    column="APPR_NO"
                    javaType="java.util.ArrayList"
                    ofType="ApprLineDTO"/>
    </resultMap>

    <!-- 발주 신청서 상세 -->
    <resultMap id="stockOrderResultMap" type="ApprovalDto">
        <id property="apprNo" column="APPR_NO"/>
        <collection property="stockOrderList"
                    select="getStockOrderList"
                    column="APPR_NO"
                    javaType="java.util.ArrayList"
                    ofType="StockDto"/>
    </resultMap>

    <!-- 직원 정보 조회 -->
    <select id="getEmpInfo">
            SELECT E.EMP_NO, E.EMP_NAME, E.EMP_STREET, E.EMP_DETAIL
                 , P.POS_NAME
              FROM EMPLOYEE_T E
        INNER JOIN POSITION_T P
                ON E.POS_NO = P.POS_NO
             WHERE 1=1
               AND EMP_NO = #{empNo}
    </select>

    <!-- 임시저장 값 존재 여부 확인 -->
    <select id="checkTimeOffTemp">
            SELECT COUNT(*)
              FROM TIME_OFF_TEMP_T
             WHERE 1=1
               AND EMP_NO = #{empNo}
               AND TIME_OFF_CT_NO = #{timeOffCtNo}
    </select>

    <!-- 이전 임시저장 내용 삭제 -->
    <delete id="deleteTimeOffTemp">
            DELETE
              FROM TIME_OFF_TEMP_T
             WHERE 1=1
               AND EMP_NO = #{empNo}
               AND TIME_OFF_CT_NO = #{timeOffCtNo}
    </delete>

    <!-- 휴가/휴직 신청서 임시저장 -->
    <insert id="insertTimeOffTemp">
            INSERT INTO TIME_OFF_TEMP_T (
                        TIME_OFF_TEMP_NO
                      , TIME_OFF_CT_NO
                      , TIME_OFF_START_DT
                      , TIME_OFF_END_DT
                      , TIME_OFF_PERIOD
                      , TIME_OFF_CONTENT
                      , EMP_NO
               ) VALUES (
                        TIME_OFF_TEMP_SEQ.NEXTVAL
                      , #{timeOffCtNo}
                      , #{timeOffStartDt}
                      , #{timeOffEndDt}
                      , #{timeOffPeriod}
                      , #{timeOffContent}
                      , #{empNo})
    </insert>

    <!-- 임시저장 내용 불러오기 -->
    <select id="getTimeOffTemp">
            SELECT TIME_OFF_TEMP_NO
                 , TIME_OFF_CT_NO
                 , TO_CHAR(TIME_OFF_START_DT, 'YYYY-MM-DD') AS TIME_OFF_START_DT
                 , TO_CHAR(TIME_OFF_END_DT, 'YYYY-MM-DD') AS TIME_OFF_END_DT
                 , TIME_OFF_PERIOD
                 , TIME_OFF_CONTENT
              FROM TIME_OFF_TEMP_T
             WHERE 1=1
               AND EMP_NO = #{empNo}
               AND TIME_OFF_CT_NO = #{timeOffCtNo}
    </select>

    <!-- 결재선 불러오기 -->
    <select id="getApprLine">
            SELECT E.EMP_NO, E.EMP_NAME
                 , P.POS_NO, P.POS_NAME
              FROM EMPLOYEE_T E
        INNER JOIN FRANCHISE_T F
                ON E.FRN_NO = F.FRN_NO
   LEFT OUTER JOIN POSITION_T P
                ON E.POS_NO = P.POS_NO
             WHERE 1=1
               AND F.FRN_NO = #{frnNo}
               AND DECODE (
                          (SELECT POS_NO
                             FROM EMPLOYEE_T
                            WHERE EMP_NO = #{empNo})
                                , 2, 2
                                , 1
                          ) > P.POS_NO
          ORDER BY P.POS_NO ASC
                 , E.EMP_NAME ASC
    </select>

    <!-- 휴가/휴직 신청 (전자결재 테이블) -->
    <insert id="insertApproval" useGeneratedKeys="true">
        <selectKey order="BEFORE" resultType="_int" keyProperty="apprNo">
            SELECT APPROVAL_SEQ.NEXTVAL
              FROM DUAL
        </selectKey>
            INSERT INTO APPROVAL_T (
                        APPR_NO
                      , EMP_NO
                      , CREATOR
               ) VALUES (
                        #{apprNo}
                      , #{empNo}
                      , #{empNo})
    </insert>

    <!-- 휴가/휴직 신청 (휴가/휴직신청서 테이블) -->
    <insert id="insertTimeOff">
            INSERT INTO TIME_OFF_T (
                        APPR_NO
                      , TIME_OFF_CT_NO
                      , TIME_OFF_START_DT
                      , TIME_OFF_END_DT
                      , TIME_OFF_PERIOD
                      , TIME_OFF_CONTENT
               ) VALUES (
                        #{apprNo}
                      , #{timeOffCtNo}
                      , TO_DATE(#{timeOffStartDt})
                      , TO_DATE(#{timeOffEndDt})
                      , #{timeOffPeriod}
                      , #{timeOffContent})
    </insert>

    <!-- 휴가/휴직 신청 (결재선 테이블) -->
    <insert id="insertApprLine" parameterType="java.util.List">
            INSERT INTO APPR_LINE_T (
                        APPR_LINE_NO
                      , APPR_LINE_ORDER
                      , APPR_NO
                      , EMP_NO
                      , CREATOR
               ) SELECT APPR_LINE_SEQ.NEXTVAL AS APPR_LINE_NO
                      , TEMP_T.*
                   FROM (
                   <foreach collection="list" item="apprLineDto" separator="UNION ALL">
                        SELECT #{apprLineDto.apprLineOrder} AS APPR_LINE_ORDER
                             , #{apprLineDto.apprNo} AS APPR_NO
                             , #{apprLineDto.empNo} AS EMP_NO
                             , #{apprLineDto.creator} AS CREATOR
                          FROM DUAL
                   </foreach>
               ) TEMP_T
    </insert>

    <!-- 결재 문서 목록 수 조회 (휴가/휴직 신청서) -->
    <select id="getTimeOffApprCount">
            SELECT COUNT(*)
              FROM APPROVAL_T A
        INNER JOIN TIME_OFF_T T
                ON A.APPR_NO = T.APPR_NO
        INNER JOIN EMPLOYEE_T E
                ON A.EMP_NO = E.EMP_NO
                <choose>
                    <when test="type == 'draft'">
                          WHERE 1=1
                            AND E.EMP_NO = #{empNo}
                    </when>
                    <otherwise>
                          RIGHT OUTER JOIN APPR_LINE_T L
                                        ON A.APPR_NO = L.APPR_NO
                                     WHERE 1=1
                                       AND L.EMP_NO = #{empNo}
                                       AND (
                                           L.APPR_LINE_ORDER = 0
                                           OR (
                                           SELECT 'temp'
                                             FROM APPR_LINE_T AL
                                            WHERE 1=1
                                              AND AL.APPR_NO = A.APPR_NO
                                              AND AL.APPR_LINE_ORDER = 0
                                              AND AL.APPR_LINE_STAT = 1
                                              ) = 'temp')
                        </otherwise>
                </choose>
                <if test="timeOffCtNo != -1">
                    AND T.TIME_OFF_CT_NO = #{timeOffCtNo}
                </if>
                <if test="apprStat != -1">
                    AND A.APPR_STAT = #{apprStat}
                </if>
                <if test="empName != null">
                    AND E.EMP_NAME LIKE '%' || #{empName} || '%'
                </if>
    </select>

    <!-- 결재 문서 목록 조회 (휴가/휴직 신청서) -->
    <select id="getTimeOffApprList">
            SELECT A.APPR_NO, A.APPR_STAT
                 , TO_CHAR(A.APPR_DT, 'YYYY-MM-DD') AS APPR_DT
                 , T.TIME_OFF_CT_NO
                 , E.EMP_NO, E.EMP_NAME
                   <if test="type == 'sign'">
                       , L.APPR_LINE_NO
                   </if>
              FROM APPROVAL_T A
        INNER JOIN TIME_OFF_T T
                ON A.APPR_NO = T.APPR_NO
        INNER JOIN EMPLOYEE_T E
                ON A.EMP_NO = E.EMP_NO
                <choose>
                    <when test="type == 'draft'">
                          WHERE 1=1
                            AND E.EMP_NO = #{empNo}
                    </when>
                    <when test="type == 'sign'">
                          RIGHT OUTER JOIN APPR_LINE_T L
                                        ON A.APPR_NO = L.APPR_NO
                                     WHERE 1=1
                                       AND L.EMP_NO = #{empNo}
                                       AND (
                                           L.APPR_LINE_ORDER = 0
                                           OR (
                                              SELECT 'temp'
                                                FROM APPR_LINE_T AL
                                               WHERE 1=1
                                                 AND AL.APPR_NO = A.APPR_NO
                                                 AND AL.APPR_LINE_ORDER = 0
                                                 AND AL.APPR_LINE_STAT = 1
                                              ) = 'temp')
                    </when>
                </choose>
                <if test="timeOffCtNo != -1">
                    AND T.TIME_OFF_CT_NO = #{timeOffCtNo}
                </if>
                <if test="apprStat != -1">
                    AND A.APPR_STAT = #{apprStat}
                </if>
                <if test="empName != null">
                    AND E.EMP_NAME LIKE '%' || #{empName} || '%'
                </if>
          ORDER BY A.APPR_DT
          <choose>
              <when test="apprDtSort == 'ASC'">ASC</when>
              <otherwise>DESC</otherwise>
          </choose>
    </select>

    <!-- 결재 문서 상세 조회 (휴가/휴직 신청서) -->
    <select id="getTimeOffApprDetail" resultMap="apprLineResultMap">
            SELECT DISTINCT A.APPR_NO
                          , TO_CHAR(A.APPR_DT, 'YYYY"년" MM"월" DD"일"') AS APPR_DT
                          , TO_CHAR(T.TIME_OFF_START_DT, 'YYYY"년" MM"월" DD"일"') AS TIME_OFF_START_DT
                          , TO_CHAR(T.TIME_OFF_END_DT, 'YYYY"년" MM"월" DD"일"') AS TIME_OFF_END_DT
                          , T.TIME_OFF_CT_NO, T.TIME_OFF_PERIOD, T.TIME_OFF_CONTENT
                          , E.EMP_NO, E.EMP_NAME, E.EMP_STREET, E.EMP_DETAIL, E.EMP_SIGN
                          , P.POS_NAME
                       FROM APPROVAL_T A
                 INNER JOIN TIME_OFF_T T
                         ON A.APPR_NO = T.APPR_NO
                 INNER JOIN EMPLOYEE_T E
                         ON A.EMP_NO = E.EMP_NO
                 INNER JOIN POSITION_T P
                         ON E.POS_NO = P.POS_NO
                 INNER JOIN APPR_LINE_T L
                         ON A.APPR_NO = L.APPR_NO
                      WHERE 1=1
                        AND (
                            (E.EMP_NO = #{empNo} AND A.APPR_NO = #{apprNo})
                            OR
                            L.APPR_LINE_NO = (
                                             SELECT APPR_LINE_NO
                                               FROM APPR_LINE_T
                                              WHERE 1=1
                                                AND APPR_NO = #{apprNo}
                                                AND EMP_NO = #{empNo})
                            )
    </select>

    <!-- 결재선 조회 (결재 문서 상세 조회) -->
    <select id="getDetailApprLine" resultType="ApprLineDto">
            SELECT L.APPR_LINE_STAT, L.APPR_SIGN
                 , E.EMP_NO, E.EMP_NAME, E.EMP_SIGN
                 , P.POS_NAME
              FROM APPR_LINE_T L
        INNER JOIN EMPLOYEE_T E
                ON L.EMP_NO = E.EMP_NO
        INNER JOIN POSITION_T P
                ON E.POS_NO = P.POS_NO
             WHERE 1=1
               AND L.APPR_NO = #{apprNo}
          ORDER BY L.APPR_LINE_ORDER ASC
    </select>

    <!-- 결재 문서 상세 조회 (발주 신청서) -->
    <select id="getStockOrderApprDetail" resultMap="stockOrderResultMap">
            SELECT A.APPR_NO, A.APPR_STAT
                 , TO_CHAR(A.APPR_DT, 'YYYY"년" MM"월" DD"일"') AS APPR_DT
                 , O.ORDER_COST
                 , F.FRN_NO, F.FRN_NAME, F.FRN_OWNER, F.FRN_TEL, F.FRN_STREET, F.FRN_DETAIL
                 , E.EMP_SIGN
              FROM APPROVAL_T A
        INNER JOIN ORDER_T O
                ON A.APPR_NO = O.APPR_NO
        INNER JOIN EMPLOYEE_T E
                ON A.EMP_NO = E.EMP_NO
        INNER JOIN FRANCHISE_T F
                ON E.FRN_NO = F.FRN_NO
             WHERE 1=1
               AND A.APPR_NO = #{apprNo}
    </select>

    <!-- 결재 문서 상세 조회 (발주 신청 재고 목록) -->
    <select id="getStockOrderList" parameterType="_int" resultType="StockDto">
            SELECT SO.STOCK_ORDER_COUNT, SO.STOCK_ORDER_COST
                 , S.STOCK_NAME, S.STOCK_UNIT, S.STOCK_PRICE
                 , SC.STOCK_CT_NAME
              FROM STOCK_ORDER_T SO
        INNER JOIN STOCK_T S
                ON SO.STOCK_NO = S.STOCK_NO
        INNER JOIN STOCK_CATEGORY_T SC
                ON S.STOCK_CT_NO = SC.STOCK_CT_NO
             WHERE 1=1
               AND SO.APPR_NO = #{apprNo}
          ORDER BY S.STOCK_NAME ASC
    </select>

    <!-- 문서 결재 -->
    <update id="changeApprLineStat">
            UPDATE APPR_LINE_T
               SET APPR_LINE_STAT = #{apprLineStat}
                 , <if test="apprLineStat == 1">
                       APPR_SIGN = #{data}
                   </if>
                   <if test="apprLineStat == 2">
                       APPR_LINE_REASON = #{data}
                   </if>
             WHERE 1=1
               AND APPR_NO = #{apprNo}
               AND EMP_NO = #{empNo}
    </update>

</mapper>
