<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.attendance.mapper.AttendanceMapper">

	<resultMap type="AttendanceDto" id="AttendanceMap">
		<id property="attNo" column="ATT_NO" />
		<result property="attInTime" column="ATT_IN_TIME"/>
		<result property="attOutTime" column="ATT_OUT_TIME"/>
		<result property="attWorkTime" column="ATT_WORK_TIME"/>
		<result property="createDt" column="CREATE_DT"/>
		<result property="creator" column="CREATOR"/>
		<result property="modifyDt" column="MODIFY_DT"/>
		<result property="modifier" column="MODIFIER"/>
		<result property="empNo" column="EMP_NO"/>
<!-- 		<association property="employee" javaType="EmployeeDto"> -->
<!-- 			<id property="empNo" column="EMP_NO" /> -->
<!-- 			<result property="empName" column="EMP_NAME" /> -->
<!-- 		</association> -->
	</resultMap>
	
<insert id="insertAttendance" parameterType="AttendanceDto">
	MERGE INTO ATTENDANCE_T DEST
	USING ( SELECT 
	       	#{attInTime} AS ATT_IN_TIME,
	        #{attOutTime} AS ATT_OUT_WORK,
	        #{attWorkTime} AS ATT_WORK_TIME,
	        #{createDt} AS CREATE_DT,
	        #{creator} AS CREATOR,
	        CURRENT_DATE AS MODIFY_DT,
	        #{modifier} AS MODIFIER,
	        #{empNo} AS EMP_NO 
	        FROM DUAL ) SRC
	ON (DEST.CREATE_DT = SRC.CREATE_DT )
	WHEN MATCHED THEN
		UPDATE SET 
			ATT_IN_TIME = #{attInTime}, 
			ATT_OUT_TIME = #{attOutTime}, 
			ATT_WORK_TIME = #{attWorkTime}
	WHEN NOT MATCHED THEN
    	INSERT (
	        ATT_NO,
	        ATT_IN_TIME,
	        ATT_OUT_TIME,
	        ATT_WORK_TIME,
	        CREATE_DT,
	        CREATOR,
	        MODIFY_DT,
	        MODIFIER,
	        EMP_NO
	    ) VALUES (
	        ATTENDANCE_SEQ.NEXTVAL,
	       	#{attInTime},
	        #{attOutTime},
	        #{attWorkTime},
	        #{createDt},
	        #{creator},
	        CURRENT_DATE,
	        #{modifier},
	        #{empNo}
	    )
</insert>

<select id="getAttList"
		resultMap="AttendanceMap">
    SELECT ATT_NO, ATT_IN_TIME, ATT_OUT_TIME, ATT_WORK_TIME, CREATE_DT, EMP_NO 
        FROM ATTENDANCE_T
    WHERE EXTRACT(MONTH FROM CREATE_DT) = #{month}
	ORDER BY CREATE_DT ASC, ATT_IN_TIME ASC 
</select>


</mapper>