<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.attendance.mapper.AttendanceMapper">

	<resultMap type="AttendanceDto" id="AttendanceMap">
		<id property="attNo" column="ATT_NO" />
		<result property="attInTime" column="ATT_IN_TIME"/>
		<result property="attOutTime" column="ATT_OUT_TIME"/>
		<result property="attWorkTime" column="ATT_WORK_TIME"/>
		<result property="createDt" column="CREATE_DT"/>
		<result property="creator" column="CREATOR"/>
		<result property="modifyDt" column="MODIFY_DT"/>
		<result property="modifier" column="MODIFIER"/>
		<result property="empNo" column="EMP_NO"/>
	  	<result property="annCtNo" column="ANN_CT_NO"/>
	  	<result property="category" column="CATEGORY"/>
	</resultMap>
	
<insert id="insertAttendance" parameterType="AttendanceDto">
		<selectKey keyProperty="attNo" resultType="int" order="BEFORE">
			SELECT ATTENDANCE_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
    	INSERT INTO ATTENDANCE_T (
	        ATT_NO,
	        ATT_IN_TIME,
	        ATT_OUT_TIME,
	        ATT_WORK_TIME,
	        CREATE_DT,
	        CREATOR,
	        MODIFY_DT,
	        MODIFIER,
	        EMP_NO
	    ) VALUES (
	        #{attNo},
	       	#{attInTime},
	        #{attOutTime},
	        #{attWorkTime},
	        #{createDt},
	        #{creator},
	        CURRENT_DATE,
	        #{modifier},
	        #{empNo}
	    )
</insert>

<select id="getAttListByInsert"
		resultMap="AttendanceMap">
	SELECT ATT_IN_TIME, ATT_OUT_TIME, ATT_WORK_TIME, CREATE_DT
	FROM ATTENDANCE_T
</select>

<update id="updateAttendance"
		parameterType="AttendanceDto">
	UPDATE ATTENDANCE_T
		SET ATT_IN_TIME = #{attInTime},
			ATT_OUT_TIME = #{attOutTime},
			ATT_WORK_TIME = #{attWorkTime},
			MODIFY_DT = CURRENT_DATE
		WHERE CREATE_DT = #{createDt} AND EMP_NO = #{empNo}
</update>

<select id="getAttList"
		resultMap="AttendanceMap"
		parameterType="map">
	SELECT ATT.ATT_IN_TIME, ATT.ATT_OUT_TIME, ATT.ATT_WORK_TIME, ATT.CREATE_DT, 3 AS CATEGORY
	FROM EMPLOYEE_T E
	JOIN ATTENDANCE_T ATT 
	ON E.EMP_NO = ATT.EMP_NO
	WHERE EXTRACT(MONTH FROM ATT.CREATE_DT) = #{month} AND E.EMP_NO = #{empNo}
</select>

<select id="getAnnList"
		resultMap="AttendanceMap"
		parameterType="map">
	SELECT A.ANN_CT_NO, TO_DATE(SUBSTR(A.ANN_START_TIME, 1, 10), 'YYYY-MM-DD') AS CREATE_DT
	FROM EMPLOYEE_T E
	JOIN ANNUAL_T A 
	ON E.EMP_NO = A.EMP_NO
	WHERE EXTRACT(MONTH FROM A.CREATE_DT) = #{month} AND E.EMP_NO = #{empNo}
</select>


</mapper>