<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.board.mapper.BoardMapper">
    <resultMap type="BoardDto" id="BoardMap">
        <id property="boardNo" column="BOARD_NO" />
        <result property="boardCtNo" column="BOARD_CT_NO" />
        <result property="boardTitle" column="BOARD_TITLE" />
        <result property="boardContent" column="BOARD_CONTENT" />
        <result property="boardHit" column="BOARD_HIT" />
        <result property="boardLikeCount" column="BOARD_LIKE_COUNT"/>
        <result property="createDt" column="CREATE_DT" />
        <result property="creator" column="CREATOR" />
        <result property="modifyDt" column="MODIFY_DT" />
        <result property="modifier" column="MODIFIER" />
        <collection property="files" ofType="BoardFileDto">
            <id property="boardFileNo" column="BOARD_FILE_NO"/>
            <result property="boardOrigin" column="BOARD_ORIGIN"/>
            <result property="boardRename" column="BOARD_RENAME"/>
            <result property="boardPath" column="BOARD_PATH"/>
        </collection>
    </resultMap>

    <!-- 자유게시판 LIST -->
    <select id="getFreeBoardList">
        SELECT BOARD_NO
             , BOARD_TITLE
             , BOARD_CONTENT
             , BOARD_HIT
             , CREATE_DT
        FROM BOARD_T
        WHERE BOARD_CT_NO = 1
    </select>


    <!-- INSERT 수행 이전에 파라미터 BoardDto의 boardNo 속성(필드)에 BOARD_SEQ.NEXTVAL 값을 저장한다. -->
    <insert id="insertBoard"
            parameterType="BoardDto">
        <selectKey keyProperty="boardNo" order="BEFORE" resultType="int">
            SELECT BOARD_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO BOARD_T (
        BOARD_NO
        , BOARD_CT_NO
        , BOARD_TITLE
        , BOARD_CONTENT
        , EMP_NO
        , CREATE_DT
        , CREATOR
        ) VALUES (
          #{boardNo}
        , #{boardCtNo}
        , #{boardTitle}
        , #{boardContent}
        , #{empNo}
        , CURRENT_TIMESTAMP
        , #{empNo}
        )
    </insert>

    <!-- 파일업로드 INSERT -->
    <insert id="insertBoardFile" parameterType="BoardFileDto">
        INSERT INTO BOARD_FILE_T (
            BOARD_FILE_NO,
            BOARD_PATH,
            BOARD_RENAME,
            BOARD_ORIGIN,
            BOARD_NO
        ) VALUES (
                     BOARD_FILE_SEQ.NEXTVAL,
                     #{boardPath},
                     #{boardRename},
                     #{boardOrigin},
                     #{boardNo}
                 )
    </insert>

    <select id="getBoardCount">
        SELECT COUNT(*)
        FROM BOARD_T
    </select>

    <!--    <select id="getBoardList"-->
    <!--            parameterType="Map"-->
    <!--            resultMap="BoardMap">-->
    <!--        SELECT-->
    <!--            BOARD_NO, BOARD_CT_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_HIT, CREATE_DT, MODIFY_DT, EMP_NO, CREATOR, MODIFIER-->
    <!--        FROM (-->
    <!--                 SELECT-->
    <!--                     ROW_NUMBER() OVER (ORDER BY BOARD_NO ${sort}) AS RN,-->
    <!--                         BOARD_NO, BOARD_CT_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_HIT, CREATE_DT, MODIFY_DT, EMP_NO, CREATOR, MODIFIER-->
    <!--                 FROM-->
    <!--                     BOARD_T-->
    <!--             )-->
    <!--        WHERE RN BETWEEN #{begin} AND #{end}-->
    <!--    </select>-->

    <select id="getBoardByNo"  resultMap="BoardMap">
        SELECT B.BOARD_NO, B.BOARD_CT_NO, B.BOARD_TITLE, B.BOARD_CONTENT,
               B.BOARD_HIT, B.CREATE_DT, B.MODIFY_DT, E.EMP_NO, F.BOARD_ORIGIN, B.BOARD_LIKE_COUNT,
               E.EMP_NAME
        FROM BOARD_T B
                 INNER JOIN EMPLOYEE_T E ON E.EMP_NO = B.EMP_NO
                 LEFT JOIN BOARD_FILE_T F ON B.BOARD_NO = F.BOARD_NO
        WHERE B.BOARD_NO = #{boardNo}
    </select>

    <select id="getBoardFileList"
            resultType="BoardFileDto">
        SELECT BOARD_FILE_NO, BOARD_PATH, BOARD_RENAME, BOARD_ORIGIN
        FROM BOARD_FILE_T
        WHERE BOARD_NO = #{boardNo}
    </select>

    <select id="getBoardFileByNo"
            resultType="BoardFileDto">
        SELECT BOARD_FILE_NO, BOARD_PATH, BOARD_RENAME, BOARD_ORIGIN
        FROM BOARD_FILE_T
        WHERE BOARD_FILE_NO = #{boardFileNo}
    </select>

    <!--    <update id="updateDownloadCount">-->
    <!--        UPDATE BOARD_FILE_T-->
    <!--        SET DOWNLOAD_COUNT = DOWNLOAD_COUNT + 1-->
    <!--        WHERE BOARD_FILE_NO = #{boardFileNo}-->
    <!--    </update>-->

    <update id="updateBoard"
            parameterType="BoardDto">
        UPDATE BOARD_T B
        SET B.BOARD_TITLE = #{boardTitle}
          , B.BOARD_CONTENT = #{boardContent}
          , B.MODIFY_DT = CURRENT_DATE
          , B.MODIFIER = #{modifier}
        WHERE B.BOARD_NO = #{boardNo}
    </update>

    <delete id="deleteBoard">
        DELETE
          FROM BOARD_T B
         WHERE 1 = 1
           AND B.BOARD_NO = #{boardNo}
           AND B.EMP_NO = #{empNo}
    </delete>

    <delete id="deleteBoardFile">
        DELETE
        FROM BOARD_FILE_T
        WHERE BOARD_FILE_NO = #{boardFileNo}
    </delete>

    <!-- 좋아요 확인 -->
    <select id="isLiked" resultType="int">
        SELECT COUNT(1)
          FROM BOARD_LIKE_T BL
         WHERE 1 = 1
           AND BL.BOARD_NO = #{boardNo}
           AND BL.EMP_NO = #{empNo}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="addLike">
        INSERT INTO BOARD_LIKE_T (BOARD_NO, EMP_NO)
        VALUES (#{boardNo}, #{empNo})
    </insert>

    <delete id="removeLike">
        DELETE FROM BOARD_LIKE_T
        WHERE BOARD_NO = #{boardNo} AND EMP_NO = #{empNo}
    </delete>

    <update id="updateLikeCount">
        UPDATE BOARD_T B
           SET B.BOARD_LIKE_COUNT = #{boardLikeCount}
         WHERE BOARD_NO = #{boardNo}
    </update>

</mapper>