<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.chat.mapper.ChatMapper">

    <resultMap id="ChatRoomMap" type="ChatRoomDto">
        <id property="chatRoomNo" column="CHAT_ROOM_NO"/>
        <result property="chatRoomTitle" column="CHAT_ROOM_TITLE"/>
        <result property="chatRoomStat" column="CHAT_ROOM_STAT"/>
        <result property="createDt" column="CREATE_DT"/>
        <result property="creator" column="CREATOR"/>
        <result property="modifyDt" column="MODIFY_DT"/>
        <result property="modifier" column="MODIFIER"/>
        <collection property="participants" ofType="CrEmpDto">
            <id property="empNo" column="EMP_NO"/>
            <result property="entryStat" column="ENTRY_STAT" typeHandler="com.mcp.crispy.common.typehandler.EntryStatTypeHandler"/>
            <result property="alarmStat" column="ALARM_STAT" typeHandler="com.mcp.crispy.common.typehandler.EntryStatTypeHandler"/>
            <result property="empName" column="EMP_NAME" />
            <result property="empProfile" column="EMP_PROFILE" />
        </collection>

    </resultMap>

    <!-- 사용자가 속한 채팅방 목록 조회 -->
    <select id="getChatRooms" resultMap="ChatRoomMap">
        SELECT DISTINCT
            C.CHAT_ROOM_NO, C.CHAT_ROOM_TITLE, C.CHAT_ROOM_STAT, C.CREATE_DT,
            C.CREATOR, C.MODIFY_DT, C.MODIFIER, CM.MSG_DT
        FROM CHAT_ROOM_T C
                 LEFT JOIN CR_EMP_T P ON C.CHAT_ROOM_NO = P.CHAT_ROOM_NO
                 LEFT JOIN EMPLOYEE_T E ON P.EMP_NO = E.EMP_NO
                 LEFT JOIN CHAT_MESSAGE_T CM ON C.CHAT_ROOM_NO = CM.CHAT_ROOM_NO
        WHERE P.EMP_NO = #{empNo} AND P.ENTRY_STAT = 0
        GROUP BY
            C.CHAT_ROOM_NO, C.CHAT_ROOM_TITLE, C.CHAT_ROOM_STAT, C.CREATE_DT,
            C.CREATOR, C.MODIFY_DT, C.MODIFIER, CM.MSG_DT
        ORDER BY CM.MSG_DT DESC
    </select>

    <!-- 특정 채팅방의 정보 조회 -->
    <select id="getChatRoom" resultMap="ChatRoomMap">
        SELECT C.CHAT_ROOM_NO, C.CHAT_ROOM_TITLE , C.CHAT_ROOM_STAT, C.CREATE_DT, C.CREATOR,
               C.MODIFY_DT, C.MODIFIER, P.EMP_NO, P.ENTRY_STAT, E.EMP_NAME
          FROM CHAT_ROOM_T C
          LEFT JOIN CR_EMP_T P ON C.CHAT_ROOM_NO = P.CHAT_ROOM_NO
          LEFT JOIN EMPLOYEE_T E ON P.EMP_NO = E.EMP_NO
         WHERE C.CHAT_ROOM_NO = #{chatRoomNo}
           AND (
               (SELECT COUNT(*) FROM CR_EMP_T WHERE CHAT_ROOM_NO = C.CHAT_ROOM_NO) = 2
            OR P.ENTRY_STAT = 0
            )
    </select>

    <!-- 특정 채팅방의 메시지 목록 조회 -->
    <select id="getMessages" resultType="ChatMessageDto">
        SELECT CM.CHAT_ROOM_NO, CM.EMP_NO, CM.MSG_CONTENT, CM.MSG_DT,
               CM.CREATOR, CM.CREATE_DT, CM.MODIFIER, CM.MODIFY_DT,
               E.EMP_PROFILE, E.EMP_NAME
        FROM CHAT_MESSAGE_T CM
        LEFT JOIN EMPLOYEE_T E ON CM.EMP_NO = E.EMP_NO
        WHERE CM.CHAT_ROOM_NO = #{chatRoomNo}
          AND CM.MSG_DT > (SELECT MAX(ENTRY_DT) FROM ENTRY_EXIT_T WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo})
        ORDER BY CM.MSG_DT
    </select>

    <!-- 메시지 저장 -->
    <insert id="saveMessage">
        <selectKey keyProperty="msgNo" resultType="int" order="BEFORE">
            SELECT CHAT_MESSAGE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CHAT_MESSAGE_T (MSG_NO, MSG_CONTENT, CHAT_ROOM_NO, EMP_NO, MSG_DT, CREATE_DT)
        VALUES (#{msgNo}, #{msgContent}, #{chatRoomNo}, #{empNo}, CURRENT_TIMESTAMP ,CURRENT_TIMESTAMP)
    </insert>

    <!-- 채팅방 생성 -->
    <insert id="createChatRoom">
        <selectKey keyProperty="chatRoomNo" resultType="int" order="BEFORE">
            SELECT CHAT_ROOM_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CHAT_ROOM_T (CHAT_ROOM_NO, CHAT_ROOM_TITLE, CREATOR, CREATE_DT)
        VALUES (#{chatRoomNo}, #{chatRoomTitle}, #{creator}, CURRENT_TIMESTAMP)
    </insert>

    <!-- 특정 채팅방의 참가자 정보 조회 -->
    <select id="getParticipant" parameterType="map" resultType="CrEmpDto">
        SELECT CHAT_ROOM_NO, EMP_NO, ENTRY_STAT, ALARM_STAT
          FROM CR_EMP_T
         WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </select>

    <!-- 채팅방에 참가자 추가 -->
    <insert id="addParticipant">
        INSERT INTO CR_EMP_T (CHAT_ROOM_NO, EMP_NO, ENTRY_STAT, ALARM_STAT)
        VALUES (#{chatRoomNo}, #{empNo}, #{entryStat, typeHandler=com.mcp.crispy.common.typehandler.EntryStatTypeHandler}, #{alarmStat, typeHandler=com.mcp.crispy.common.typehandler.AlarmStatTypeHandler})
    </insert>


    <!-- 참가자 상태(입장 상태, 알림 상태) 업데이트 -->
    <!-- 채팅방 초대할 때 사용하는 메소드 -->
    <update id="updateParticipantEntryStat">
        UPDATE CR_EMP_T
           SET ENTRY_STAT = #{entryStat, typeHandler=com.mcp.crispy.common.typehandler.EntryStatTypeHandler},
               ALARM_STAT = #{alarmStat, typeHandler=com.mcp.crispy.common.typehandler.AlarmStatTypeHandler}
        WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </update>

    <!-- 특정 채팅방의 참가자 입장 상태 업데이트 -->
    <!-- 채팅방 나갈 때 사용하는 메소드 -->
    <update id="updateEntryStat">
        UPDATE CR_EMP_T
           SET ENTRY_STAT = #{entryStat, typeHandler=com.mcp.crispy.common.typehandler.EntryStatTypeHandler},
               ALARM_STAT = #{alarmStat, typeHandler=com.mcp.crispy.common.typehandler.AlarmStatTypeHandler}
        WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </update>

    <!-- 특정 채팅방의 모든 참가자 조회 -->
    <select id="getParticipantsByRoom" resultType="CrEmpDto">
        SELECT DISTINCT P.CHAT_ROOM_NO, P.EMP_NO, P.ENTRY_STAT, E.EMP_NAME, E.EMP_PROFILE, E.EMP_ID
        FROM CR_EMP_T P
     LEFT JOIN EMPLOYEE_T E ON P.EMP_NO = E.EMP_NO
        WHERE P.CHAT_ROOM_NO = #{chatRoomNo}
          AND P.ENTRY_STAT = 0
    </select>

    <!-- 새로운 접속 기록을 추가 -->
    <insert id="addAccessRecord">
        insert into CR_ACCESS_T (CHAT_ROOM_NO, EMP_NO, ACCESS_DT)
        VALUES (#{chatRoomNo}, #{empNo}, CURRENT_TIMESTAMP)
    </insert>

    <!-- 기존 접속 기록을 업데이트 -->
    <update id="updateAccessRecord">
        UPDATE CR_ACCESS_T
           SET ACCESS_DT = CURRENT_TIMESTAMP
         WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </update>

    <!-- 특정 채팅방의 접속 기록 존재 여부 확인 -->
    <select id="checkAccessExists">
        SELECT COUNT(*)
          FROM  CR_ACCESS_T
         WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </select>

    <!-- 새로운 입장 기록을 추가 -->
    <insert id="insertEntryRecord">
        INSERT INTO ENTRY_EXIT_T(CHAT_ROOM_NO, EMP_NO, ENTRY_DT)
        VALUES(#{chatRoomNo}, #{empNo}, CURRENT_TIMESTAMP)
    </insert>

    <!-- 기존 퇴장 기록을 업데이트 -->
    <update id="updateExitRecord">
        UPDATE ENTRY_EXIT_T
        SET EXIT_DT = CURRENT_TIMESTAMP
        WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </update>

    <!-- 기존 입장 기록을 업데이트 -->
    <update id="updateEntryRecord">
        UPDATE ENTRY_EXIT_T
        SET ENTRY_DT = CURRENT_TIMESTAMP
        WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </update>

    <!-- 특정 채팅방의 입장 기록 존재 여부 확인 -->
    <select id="checkEntryRecordExists">
        SELECT COUNT(*)
        FROM ENTRY_EXIT_T
        WHERE CHAT_ROOM_NO = ${chatRoomNo} AND EMP_NO = #{empNo}
    </select>

    <!-- 사용자의 읽지 않은 메시지 개수를 조회 -->
    <select id="countUnreadMessages" resultType="UnreadMessageCountDto">
        SELECT CR.CHAT_ROOM_NO, COUNT(*) as unread_count
          FROM CHAT_ROOM_T CR
          JOIN CR_EMP_T CE ON CR.CHAT_ROOM_NO = CE.CHAT_ROOM_NO
          LEFT JOIN CHAT_MESSAGE_T m ON CR.CHAT_ROOM_NO = m.CHAT_ROOM_NO
          LEFT JOIN CR_ACCESS_T a ON CR.CHAT_ROOM_NO = a.CHAT_ROOM_NO AND CE.EMP_NO = a.EMP_NO
         WHERE CE.EMP_NO = #{empNo}
           AND (m.MSG_DT > a.ACCESS_DT OR a.ACCESS_DT IS NULL)
           AND CE.ALARM_STAT = 0  -- 알림이 활성화된 경우만 계산
           AND CE.ENTRY_STAT = 0 -- 입장 상태가 활성화된 경우만 계산
           AND M.EMP_NO != #{empNo}
        GROUP BY CR.CHAT_ROOM_NO
    </select>

    <!-- 알림 상태를 토글 -->
    <update id="toggleAlarmStat">
        UPDATE CR_EMP_T
        SET ALARM_STAT = CASE ALARM_STAT
            WHEN 0 THEN 1
            ELSE 0
            END
        WHERE CHAT_ROOM_NO = #{chatRoomNo} AND EMP_NO = #{empNo}
    </update>

    <!-- 사용자의 마지막 접속 시간을 조회 -->
    <select id="getLastAccessTime" resultType="java.util.Date">
        SELECT MAX(ACCESS_DT)
          FROM CR_ACCESS_T
         WHERE CHAT_ROOM_NO = #{chatRoomNo}
           AND EMP_NO = #{empNo}
    </select>

    <!-- 마지막 접속시간 이후의 읽지 않은 메시지 조회 -->
    <select id="getUnreadMessages" resultType="ChatMessageDto">
        SELECT CM.CHAT_ROOM_NO, CM.MSG_CONTENT, CM.MSG_DT, CM.EMP_NO
          FROM CHAT_MESSAGE_T CM
         WHERE CM.CHAT_ROOM_NO = #{chatRoomNo}
           AND CM.MSG_DT > (SELECT COALESCE(MAX(ACCESS_DT), TO_TIMESTAMP('1970-01-01 00:00:00'))
                           FROM CR_ACCESS_T
                           WHERE CHAT_ROOM_NO = #{chatRoomNo}
                             AND EMP_NO = #{empNo}
            )
         ORDER BY CM.MSG_DT
    </select>
</mapper>
