<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.employee.mapper.OwnerMapper">

    <!-- 점주 등록 -->
    <insert id="insertOwner" parameterType="OwnerRegisterDto">
        <selectKey keyProperty="empNo" resultType="int" order="BEFORE">
            SELECT EMPLOYEE_SEQ.NEXTVAL
            FROM DUAL
        </selectKey>
        INSERT INTO EMPLOYEE_T (
              EMP_NO
            , EMP_ID
            , EMP_PW
            , EMP_NAME
            , EMP_EMAIL
            , EMP_PHONE
            , EMP_PROFILE
            , POS_NO
            , FRN_NO
        ) VALUES (
              #{empNo}
            , #{empId}
            , #{empPw}
            , #{empName}
            , #{empEmail}
            , #{empPhone}
            , #{empProfile}
            , #{posNo}
            , #{frnNo}
        )
    </insert>

    <!-- 가맹점 번호로 가맹점에 속해있는 직원 정보 가져오기 -->
    <select id="findEmployeeByFranchise" parameterType="map" resultType="EmployeeRequestDto">
        SELECT E.EMP_NO, E.EMP_ID, E.EMP_NAME, E.EMP_PHONE
        , E.EMP_STAT, F.FRN_NAME, P.POS_NAME
        FROM EMPLOYEE_T E
        LEFT JOIN FRANCHISE_T F
        ON E.FRN_NO = F.FRN_NO
        INNER JOIN POSITION_T P
        ON E.POS_NO = P.POS_NO
        WHERE 1 = 1
        AND E.FRN_NO = #{frnNo}
        AND E.POS_NO != 0
        <if test="posNo != null">
            AND E.POS_NO = #{posNo}
        </if>
        <if test="empStat != null">
            AND E.EMP_STAT = #{empStat}
        </if>
        ORDER BY E.EMP_NO
    </select>

    <!-- 번호에 맞는 직원 호출 -->
    <select id="countByEmpNo"
            parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM EMPLOYEE_T E
        WHERE 1 = 1
          AND E.EMP_NO = #{empNo}
    </select>

    <!-- 직원 삭제 -->
    <delete id="deleteEmployee">
        DELETE
          FROM EMPLOYEE_T E
         WHERE EMP_NO = #{empNo}
    </delete>

    <!-- 직원 선택 삭제 -->
    <delete id="deleteEmployees">
        DELETE
          FROM EMPLOYEE_T E
         WHERE E.EMP_NO
            IN
        <foreach collection="list" item="empNo" open="(" separator="," close=")">
            #{empNo}
        </foreach>
    </delete>
</mapper>
