<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.employee.mapper.OwnerMapper">
    <insert id="insertOwner" parameterType="OwnerRegisterDto">
        <selectKey keyProperty="empNo" resultType="int" order="BEFORE">
            SELECT SEQ_EMPLOYEE_T.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO EMPLOYEE_T (
        EMP_NO,
        EMP_ID,
        EMP_PW,
        EMP_NAME,
        EMP_EMAIL,
        EMP_PHONE,
        POS_NO,
        FRN_NO
        )
        VALUES (
        #{empNo},
        #{empId},
        #{empPw},
        #{empName},
        #{empEmail},
        #{empPhone},
        #{posNo},
        #{frnNo}
        )
    </insert>

    <select id="">

    </select>
</mapper>
