<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.schedule.mapper.ScheduleMapper">

	<resultMap type="ScheduleDto" id="ScheduleMap">
		<id property="scheNo" column="SCHE_NO" />
		<result property="scheId" column="SCHE_ID"/>
		<result property="frnNo" column="FRN_NO"/>
		<result property="scheDiv" column="SCHE_DIV"/>
		<result property="scheTitle" column="SCHE_TITLE"/>
		<result property="scheContent" column="SCHE_CONTENT"/>
		<result property="scheStartTime" column="SCHE_START_TIME"/>
		<result property="scheEndTime" column="SCHE_END_TIME"/>
		<result property="createDt" column="CREATE_DT"/>
		<result property="creator" column="CREATOR"/>
		<result property="modifyDt" column="MODIFY_DT"/>
		<result property="modifier" column="MODIFIER"/>
		<result property="scheStat" column="SCHE_STAT"/>
		<result property="empNo" column="EMP_NO"/>
	</resultMap>

<insert id="insertSchedule" parameterType="ScheduleDto">
    INSERT INTO SCHEDULE_T (
        SCHE_NO,
        SCHE_ID,
        FRN_NO,
        SCHE_DIV,
        SCHE_TITLE,
        SCHE_CONTENT,
        SCHE_START_TIME,
        SCHE_END_TIME,
        CREATE_DT,
        CREATOR,
        MODIFY_DT,
        MODIFIER,
        SCHE_STAT,
        EMP_NO
    ) VALUES (
        SCHEDULE_SEQ.NEXTVAL,
       	#{scheId},
       	#{frnNo},
       	#{scheDiv},
        #{scheTitle},
        #{scheContent},
        #{scheStartTime},
        #{scheEndTime},
        CURRENT_DATE,
        #{creator},
        CURRENT_DATE,
        #{modifier},
        #{scheStat},
        #{empNo}
    )
</insert>

<select id="getScheById"
	resultMap="ScheduleMap">
	SELECT * 
		FROM SCHEDULE_T
	WHERE SCHE_ID = #{scheId}
</select>

<select id="getScheList"
		resultMap="ScheduleMap">
	SELECT * 
		FROM SCHEDULE_T
	WHERE SCHE_STAT != 1 AND FRN_NO = #{empNo}
</select>

<update id="modifySchedule"
		parameterType="ScheduleDto">
	UPDATE SCHEDULE_T
		SET	SCHE_DIV = #{scheDiv},
			SCHE_TITLE = #{scheTitle},
			SCHE_CONTENT = #{scheContent},
			SCHE_START_TIME = #{scheStartTime},
			SCHE_END_TIME = #{scheEndTime},
			MODIFY_DT = CURRENT_DATE
		WHERE EMP_NO = #{empNo} AND SCHE_ID = #{scheId}
</update>

<update id="deleteSchedule"
		parameterType="ScheduleDto">
	UPDATE SCHEDULE_T
	SET	SCHE_STAT = #{scheStat},
		MODIFY_DT = CURRENT_DATE
	WHERE EMP_NO = #{empNo} AND SCHE_ID = #{scheId}
</update>


<delete id="completeDeleteSchedule"
		parameterType="ScheduleDto">
	DELETE 
		FROM SCHEDULE_T 
	WHERE SCHE_ID = #{scheId}
</delete>

</mapper>