<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.stock.mapper.StockMapper">

    <!-- 재고 현황 조회 -->
    <select id="getStockList">
        SELECT S.STOCK_NO, S.STOCK_IMG, S.STOCK_NAME, C.STOCK_CT_NAME, I.IS_COUNT
        FROM STOCK_T S
            JOIN STOCK_CATEGORY_T C ON S.STOCK_CT_NO = C.STOCK_CT_NO
            JOIN INVENTORY_STAT_T I ON S.STOCK_NO = I.STOCK_NO
        WHERE I.FRN_NO = #{frnNo}
        ORDER BY S.STOCK_NAME
    </select>

    <!-- 재고 상세 조회 -->
    <select id="getStockDetail">
        SELECT *
        FROM STOCK_T
        WHERE STOCK_NO = #{stockNo}
    </select>

</mapper>
