/* 폰트 사이즈 설정 */
.board-detail span,
.board-detail button,
.board-detail a,
.board-detail p,
.board-detail textarea{
	font-size: 1.7rem;
}

/* 페이지 설정 */
.board-detail {
	width: 60%;
	padding-left: 16%;
}

/* textarea 설정 */
.board-detail textarea {
	resize: none;
}

/* 제목 작성자 */
.board-detail .detail-header > div:nth-child(1) {
	display: flex;
	flex-direction: column;
}

/* 작성자 */
.board-detail .board-info {
	display: flex;
	justify-content: flex-end;
}

/* 게시물 내용 */
.board-detail .board-content {
	height: 300px;
	font-size: 1.7rem;
}

/* 좋아요 */
.board-detail .board-like {
	display: flex;
	justify-content: flex-end;
}

/* 첨부파일 */
.board-detail .board-files {
	margin-bottom: 15px;
}

/* 수정, 삭제, 목록으로 */
.board-detail .board-buttons {
	display: flex;
	justify-content: space-between;
}

/* 첨부파일 ul */
.board-detail .board-files ul {
	padding-left: 0;
}

/* 첨부파일 폰트 컬러 */
.board-detail .board-files a {
	color: var(--main-color);
}

.board-detail .board-buttons button {
	width: 100px;
	height: 40px;
	font-size: 1.5rem;
	line-height: 35px;
	border-radius: 5px;
	padding: 3.75px;
	border: none;
}
.board-detail #downloadAllBtn{
	width: 170px;
	height: 40px;
	font-size: 1.5rem;
	line-height: 35px;
	border-radius: 5px;
	padding: 3.75px;
	border: none;
}

.board-detail .board-buttons .board-delete {
	background-color: var(--sub-color) !important;
	border-color: var(--sub-color) !important;
}

.board-detail .edit-button button{
	width: 70px;
}

.board-detail .cmt-container > div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}

.board-detail .cmt-container > div button {
		width: 72px;
		border-radius: 5px;

}

/* 댓글 wrap */
.board-detail .cmt-wrap {
	display: flex;
	justify-content: space-between;
}

.board-detail .cmt-container>div {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

/* 댓글 프로필 */
.board-detail .comment-profile {
	width: 56px;
	height: 56px;
	border: 3px solid #fff;
	border-radius: 100%;
}

/* 댓글 단 직원 */
.board-detail .comment-emp {
	display: flex;
}

.board-detail .cmt-content {
	font-size: 2rem;
}

/* 대댓글 */
.board-detail .reply-container {
	margin-left: 45px;
}

.board-detail .reply-wrapper {
	display: flex;
}

/* 답글 버튼 */
.board-detail .reply-wrapper button {
	width: 55px;
	border-radius: 5px;
}

/* 답글 버튼 */
.board-detail #reply-button {
	width: 51px;
	background-color: #fff !important;
	border: none;
	color: #000 !important;
}

.board-detail .cmt-container label {
	font-size: 2rem;
}

/* 댓글 */
.board-detail .comment-emp p {
	margin-bottom: 0;
}

/* 댓글 프로필 이미지 */
.board-detail .comment-emp img {
	margin-top: 13px;
}

/* 댓글 버튼 */
.board-detail .cmt-wrap .comment-delete {
	background-color: var(--sub-color) !important;
	border-color: var(--sub-color) !important;
}

/* 댓글 버튼 스타일 */
.board-detail .cmt-wrap button {
	width: 70px;
	height: 40px;
	font-size: 1.5rem;
	line-height: 35px;
	border-radius: 5px;
	padding: 3.75px;
	border: none;
}

/* 댓글 설정 */
.comment-level-1 {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	margin-top: 20px;
}

/* 대댓글 설정 */
.comment-level-2 {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 20px;
}

/* 댓글 수정창 설정 */
.board-detail .cmt-modify-wrapper {
	display: flex;
	align-items: flex-end;
}

.cmt-modify-wrapper button {
	width: 55px;
}

.board-detail .cmt-modify-wrapper .btn-cmt-cancel {
	background-color: var(--sub-color) !important;
	border-color: var(--sub-color) !important;
	margin-left: 2px;
}