.container {
    width: 350px;
    margin: 0 auto;
}

.step-indicator {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.step {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.step-indicator .step-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #c2c2c2;
    text-align: center;
    color: #ffffff;
    position: relative;
    line-height: 50px;
    font-size: 20px;
}

.step.active .step-icon {
    background: var(--main-color);
}

.step p {
    text-align: center;
    position: absolute;
    bottom: -50px;
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: bold;
}

.step.active p {
    color: var(--main-color);
}

.step.step2 p {
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
}

.indicator-line {
    width: 100%;
    height: 2px;
    background: #c2c2c2;
    flex: 1;
}

.indicator-line.active {
    background: var(--main-color);
}

@media screen and (max-width: 500px) {
    .step p {
        font-size: 11px;
        bottom: -20px;
    }
}

.frn-wrap {
    width: 550px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.employee-profile .file-input {display: none;}
.employee-profile .frn-wrap .file-input,
.employee-detail .frn-wrap .file-input {display: none;}

.employee-profile .profile-img,
.employee-detail .profile-img{
    float: right;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    border: 1px solid #e6e7eb;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.employee-profile .sign-img {
    margin-top: 15px;
    width: 300px;
    height: 150px;
    border: 1px solid #e6e7eb;
}

.employee-profile .change-password{
    font-size: 1.5rem;
    padding: 5px 25px;
    border-radius: 7px;
    background-color: var(--main-color);
    --bs-btn-hover-color: #fff;
    color: #fff;
}


.employee-profile span,
.employee-detail span{
    font-size: 1.5rem;
}

.form-control {
    margin-top: 0 !important;
}

.frn-register-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 20px 20px;
}

.info-wrap {
    width: 100%; /* 내부 랩의 너비를 부모와 같게 설정 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info-wrap input{
    width: 200px;
}

.info-wrap div {
    margin-top: 10px;
}

.img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-position div {
    margin-top: 10px;
}

.franchise-place {
    width: 200px;
}

.employee-role {
    width: 200px;
    display: flex;
    align-items: center;
}

.form-control, .btn {
    width: 100%; /* 모든 입력 필드와 버튼의 너비를 균일하게 설정 */
}

.employee-profile .btn-save-profile,
.employee-detail .btn-save-profile {
    align-self: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--main-color);
    border: 0;
    padding: 5px 25px;
    width: 150px;
    border-radius: 7px;
}

.frn-register-container input {
    font-size: 1.4rem;
}

.employee-profile img {
    width: 100px;
    height: 100px;
}

.address-wrap {
    display: flex;
    flex-direction: column;
}

.employee-profile .address-wrap input,
.employee-detail .address-wrap input{
    width: 250px;
}

.zipcode {
    width: 100px !important;
}

.address-wrap div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.operating-time {
    display: flex;
    align-items: center;
    width: 150px;
}

.operating-time input{
    width: 70px;
    margin-top: 0;
}

.frn-modify-btn {
    display: flex;
    align-items: flex-end;
}

.frn-modify-btn button{
    margin-left: 10px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    border: 0;
    text-align: center; /* 텍스트를 가로 방향 중앙으로 정렬 */
    line-height: 22px;
    height: 30px; /* 버튼의 높이를 지정 */
    font-size: 1.5rem;
}

.address-wrap button{
    font-size: 1.5rem;
    border-radius: 7px;
    padding: 5px 10px;
    margin-left: 6px;
    color: #fff;
    border: 0;
}

.btn-change-address,
#add-approval{
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    border: 0;
    margin-top: 10px;
    font-size: 1.5rem;
}

#signature-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 140px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}

.employee-detail .reset-password {
    font-size: 1.5rem;
    padding: 5px 25px;
    border-radius: 7px;
    border: 0;
}

.employee-detail input[type=radio]{
    width: 10px;
}

.employee-detail .position-radio {
    display: flex;
}

.employee-detail .position-radio div {
    margin-left: 10px;
    font-size: 1.5rem;
}

.employee-detail .form-label,
.employee-profile .form-label{
    font-size: 1.5rem;
    margin-bottom: 0;
}