/* 폰트 크기 설정 */
.emp-register .emp-reg-form input, button, label  {
    font-size: 1.5rem;
}

/* 제목 */
.emp-register .emp-reg-title {
    font-size: 2.5rem;
}

/* 직원 등록 페이지 설정 */
.emp-register .emp-register-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;
}

/* 직원 등록 폼 스타일 */
.emp-register .emp-info {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.emp-register .form-control {
    margin-top: 0 !important;
}

.emp-register .info-wrap input {
    width: 250px;
}

.emp-register .emp-reg-form div {
    margin-top: 10px;
}

/* 직책 버튼 스타일 */
.emp-register .employee-role input[type=radio]{
    width: 25px;
    height: 1.5rem;
}

/* 직원 등록 */
.emp-register #btn-emp-register {
    width: 250px;
    border-radius: 7px;
    padding: 5px 15px;
    border: 0;
}