.employee-profile input,
.employee-profile label,
.employee-profile span,
.employee-profile button,
.employee-profile a {
    font-size: 1.5rem;
}
.employee-profile header {
    height: 65px !important; /* 다른 모든 규칙을 오버라이드 */
    line-height: 65px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.employee-profile input {
    width: 300px;
}

.employee-profile .emp-wrap {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.employee-profile .file-input {display: none;}

.employee-profile .profile-img{
    float: right;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid #e6e7eb;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.employee-profile-form .emp-profile > div:first-child {position: relative;}

/* 프로필 이미지 hover */
.employee-profile-form .profile-img:hover {filter: brightness(50%);}
.employee-profile-form .profile-img:hover + .update-img {display: block;}
.employee-profile-form .profile-img:hover + .update-img-detail {display: block;}
/* 프로필 이미지 변경 텍스트 */
.employee-profile-form .update-img {
    display: none;
    position: absolute;
    top: 22%;
    color: #fff;
}

.employee-profile-form .update-img-detail {
    display: none;
    position: absolute;
    top: 17%;
    color: #fff;
}

.employee-info-header {
    display: flex;
    margin-bottom: 20px;
}

.pw-change-btn {
    display: flex;
    flex-direction: column;
    width: 48%;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
}

.employee-profile .change-password{
    height: 35px;
    width: 115px;
    padding: 5px 10px;
    border-radius: 7px;
    line-height: 27px;
    background-color: var(--main-color);
    --bs-btn-hover-color: #fff;
    color: #fff;
}

#add-approval {
    width: 115px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 0;
    margin-bottom: 10px;
    background-color: var(--sub-color) !important;
}

.form-control {
    margin-top: 0 !important;
}

.employee-profile-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info-wrap {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-wrap div {
    margin-top: 10px;
}

.img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-position div {
    margin-top: 10px;
}

.franchise-place {
    width: 200px;
}

.employee-role {
    width: 200px;
    display: flex;
    align-items: center;
}


.employee-profile .btn-save-profile{
    align-self: center;
    border: 0;
    padding: 5px 25px;
    width: 150px;
    border-radius: 7px;
}

.employee-profile img {
    width: 100px;
    height: 100px;
}

.address-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.address-wrap div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.address-wrap div:nth-child(2)>div {
    display: flex;
}

.address-wrap .zipcode {
    width: 150px !important;
}

.address-wrap .search-address {
    width: 100px !important;
    background-color: var(--sub-color) !important;
}

.detail-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 0 !important;
    margin-bottom: 10px;
}

.detail-wrap button {
    position: relative;
    right: -40px;
}

.operating-time {
    display: flex;
    align-items: center;
    width: 150px;
}

.operating-time input{
    width: 70px;
    margin-top: 0;
}

.emp-modify-btn {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.emp-modify-btn div:first-child {
    margin-left: 30px;
}

.emp-modify-btn button{
    width: 70px;
    border-radius: 7px;
    padding: 5px 15px;
    border: 0;
}

.address-container {
    width: 100%;
    display: flex;
}

.address-container .change-address-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 50px;
}

.address-container .change-address-container button {
    width: 100px;
    border-radius: 7px;
    padding: 5px 10px;
    border: 0;
}
.address-container .change-address-container .btn-edit-address {
    width: 70px;
    border-radius: 7px;
    padding: 5px 15px;
    border: 0;
}

.address-wrap button{
    border-radius: 7px;
    padding: 5px 10px;
    border: 0;
}

.pw-change-btn .sign-img {
    width: 200px;
    height: 150px;
    border: 1px solid #e6e7eb;
    border-radius: 0.375rem;
    margin-bottom: 10px;
}

#signature-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 140px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}

.employee-profile .reset-password {
    padding: 5px 25px;
    border-radius: 7px;
    border: 0;
}

.employee-profile input[type=radio]{
    width: 25px;
    height: 1.5rem;
}

.employee-profile .position-radio {
    display: flex;
}

.employee-profile .position-radio div {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
}

.employee-profile .form-label{
    margin-bottom: 0;
}

.employee-profile .emp-info {
    display: flex;
    font-size: 1.5rem;
}
.employee-profile .emp-info hr {
    width: 83%;
    margin-left: 10px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-buttons button {
    width: 200px;
    border-radius: 7px;
    padding: 5px 10px;
    border: 0;
}

.error-message {
    display: none;
    color: red;
    font-size: 1.5rem;
    margin-top: 0 !important;
}