.employees {
    width: -webkit-fill-available;
    font-size: 2rem;
}

.employees a,
.employees i,
.employees button th, td,
.employees table,
.employees input{
    font-size: 1.5rem;
}

.employees .btn-employee-register {
    padding: 5px 25px 5px 25px;
    border-radius: 30px;
    background-color: var(--main-color);
    --bs-btn-hover-color: #fff;
    color: #fff;
}

.employees .employee-register {
    display: flex;
    align-items: center;
}

.employees .employees-wrap {
    display: flex;
    justify-content: space-between;
}

.employees .employee-search {
    text-align: left; /* 전체 컨테이너를 왼쪽으로 정렬 */
    margin: 20px; /* 여백을 추가하여 디자인을 조정 */
}

.employees .employee-search {
    display: flex;
    align-items: center;
    width: 300px;
    position: relative;
}

.employees .employee-search input#search {
    width: 100%;
    height: 50px;
    background: #fff;
    padding-left: 45px;
}

.employees .employee-search .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #0C359E;
}

.employees table {
    text-align: center;
}

.employees .table>:not(caption)>*>* {
    background-color: unset;
}

.employees table td {
    position: relative;
    padding: 10px !important;
    width: 120px;
}

.employees .table tbody tr:hover {
    background-color: rgba(200, 200, 200, 0.2) !important;
    cursor: pointer;
}