/* 페이지 틀 */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내부 요소를 수평 중앙에 배치 */
    justify-content: center; /* 내부 요소를 수직 중앙에 배치 */
    min-height: 100vh; /* 전체 높이를 뷰포트의 높이로 설정 */
    width: 100%; /* 전체 너비 */
    margin: auto;
    max-width: 500px; /* 적절한 최대 폭 설정 */
    font-size: 1.5rem;
    padding-bottom: 80px;
}

/* 로고 이미지 */
.login-container img {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
}

.my-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* 로그인 폼 */
.login-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 공통 */
.login-form button,
.login-form input {
    height: 30px;
    border-radius: 3px;
    font-size: 1.5rem;
}

/* 로그인 버튼 */
.login-form button{
    border: 0;
    border-radius: 5px;
}

/* div 영역 */
.login-input {
    display: flex;
    flex-direction: column;
}

/* 자동 로그인 */
.form-check {
    display: flex;
    align-items: center;
    padding: 0;
}

/* 찾기 영역 */
.find-wrap {
    display: flex;
    justify-content: space-between;
}

/* 찾기 영역 list*/
.find-wrap li {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.find-text {
    color: var(--main-color); /* 링크 색상 변경 */
}