/* 발주 신청 페이지 */
.stock-order {
    width: -webkit-fill-available;
    font-size: 1.7rem;
}

/* 페이지 제목 */
.stock-order h1 {font-size: 2.5rem;}

/* 버튼 공통 CSS */
.stock-order button {
    height: 40px;
    margin-left: 7px;
    font-size: 1.5rem;
}

/* 상단 버튼 */
.stock-order .top-btn {
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
}

/* 임시저장 내용 불러오기 */
.stock-order #temp-content {
    width: 200px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 추가하기 */
.stock-order #add-list {width: 115px;}

/* 리스트 구분 선 */
.stock-order hr {
    height: 2px;
    margin: 25px 0;
    border: 0;
    background-color: #696765;
}

/* 발주재고 리스트 */
.stock-order .order-list {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

/* 발주재고 리스트 아이템 */
.stock-order .order-list > div {
    display: flex;
    align-items: center;
}

/* 리스트 아이템명 */
.stock-order .order-list .m-right {
    margin-right: 10px;
    color: #696765;
}

/* 카테고리명 */
.stock-order .order-list #stock-ct {width: 130px;}

/* 재고명 */
.stock-order .order-list #stock-name {width: 100px;}

/* 카테고리, 재고 선택 */
.stock-order .order-list select {
    margin-bottom: 0 !important;
    font-size: 1.8rem;
}

/* 단가 출력 */
.stock-order .stock-price {
    display: flex;
    justify-content: center;
    width: 200px;
}

/* 수량 입력 */
.stock-order .order-list input {
    width: 100px;
    margin-right: 5px;
    text-align: end;
    font-size: 1.8rem;
}

/* 재고별 합계금액 출력 */
.stock-order .total-cost {
    display: flex;
    justify-content: flex-end;
    width: 145px;
}

/* 합계금액 강조 */
.stock-order .strong {
    margin-right: 5px;
    color: var(--main-color);
    font-weight: bold;
}

/* 총 합계금액 출력 */
.stock-order .order-cost {
    display: flex;
    align-items: flex-end;
    margin: 5px 15px 0 0;
    font-size: 2.5rem;
}

/* 총 합계금액 강조 */
.stock-order .order-cost .strong {font-size: 2.7rem;}

/* 하단 버튼 */
.stock-order .bottom-btn {
    display: flex;
    justify-content: space-between;
}

/* 임시저장 */
.stock-order #temp {
    width: 100px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}

/* 하단 우측 버튼 */
.stock-order .bottom-btn > div:last-child {display: flex;}

/* 신청하기 */
.stock-order #order {width: 100px;}

/* 취소 */
.stock-order #cancel {
    width: 70px;
    background-color: var(--sub-color) !important;
    border-color: var(--sub-color) !important;
}